<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><?php echo $title; ?></title>
<base href="<?php echo $base; ?>" />
<?php if ($description) { ?>
<meta name="description" content="<?php echo $description; ?>" />
<?php } ?>
<?php if ($keywords) { ?>
<meta name="keywords" content= "<?php echo $keywords; ?>" />
<?php } ?>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/style_adprint.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/boutton.css" rel="stylesheet">

<?php foreach ($styles as $style) { ?>
<link href="<?php echo $style['href']; ?>" type="text/css" rel="<?php echo $style['rel']; ?>" media="<?php echo $style['media']; ?>" />
<?php } ?>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
<script src="catalog/view/javascript/parallax.min.js" type="text/javascript"></script>
<?php foreach ($links as $link) { ?>
<link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
<?php } ?>
<?php foreach ($scripts as $script) { ?>
<script src="<?php echo $script; ?>" type="text/javascript"></script>
<?php } ?>
<?php foreach ($analytics as $analytic) { ?>
<?php echo $analytic; ?>
<?php } ?>
</head>
<body class="<?php echo $class; ?>" >
<nav id="top">
  <div class="container">
    <?php //echo $currency; ?>
    <?php echo $language; ?>
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
		<li><a href="<?php echo $url_gestion_fichier ; ?>"><i class="fa fa-cloud"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_gestion_fichier ; ?></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="logo">
          <?php if ($logo) { ?>
          <a href="<?php echo $home; ?>"><img src="<?php echo $logo; ?>" title="<?php echo $name; ?>" alt="<?php echo $name; ?>" class="img-responsive" /></a>
          <?php } else { ?>
          <h1><a href="<?php echo $home; ?>"><?php echo $name; ?></a></h1>
          <?php } ?>
        </div>
      </div>
      <div class="col-sm-6">
		<div class="row">
			<div class="col-sm-12">
				Nous sommes joignables au 020 22 536 06 de 8h à 18 h 
			</div>
			<div>
				<?php echo $search; ?>
			</div class="col-sm-12">
			
		</div>
      </div>
      <div class="col-sm-3"><?php echo $cart; ?></div>
    </div>
  </div>
</header>
<?php if ($categories) { ?>
  <div id="menu_responsive" class="container">
      <nav id="menu" class="navbar">
        <div class="navbar-header"><span id="category" class="visible-xs"><?php echo $text_category; ?></span>
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <?php foreach ($categories as $category) { ?>
            <?php if ($category['children']) { ?>
            <li class="dropdown"><a href="<?php echo $category['href']; ?>" class="dropdown-toggle" data-toggle="dropdown"><?php echo $category['name']; ?></a>
              <div class="dropdown-menu">
                <div class="dropdown-inner">
                  <?php foreach (array_chunk($category['children'], ceil(count($category['children']) / $category['column'])) as $children) { ?>
                  <ul class="list-unstyled">
                    <?php foreach ($children as $child) { ?>
                    <li><a href="<?php echo $child['href']; ?>"><?php echo $child['name']; ?></a></li>
                    <?php } ?>
                  </ul>
                  <?php } ?>
                </div>
                <a href="<?php echo $category['href']; ?>" class="see-all"><?php echo $text_all; ?> <?php echo $category['name']; ?></a> </div>
            </li>
            <?php } else { ?>
            <li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
            <?php } ?>
            <?php } ?>
          </ul>
        </div>
      </nav>
    </div>

  <div id="storenavigationnew">
	<div class="container">
	    <ul id="storemenu" style="position:relative;">
			<?php foreach ($categories as $category) { 
                //DEBUT FILS CATEGORIE
                $categoryChildrens = $category['children'] ;
                $toCategoryChildren = array() ;
                $ind = 0 ;
                foreach ($categoryChildrens as $keyChild => $child)
                {
                    $toCategoryChildren[$ind] = $categoryChildrens[$keyChild] ;
                    $ind++ ;
                }
                
                ?>
            <!-- //DEV103 pour image changée onmouseover-->

			<li id="univers7" class="univers_link universblue" data-type-categorieid="<?php echo $category['category_id'] ; ?>" >
                <!-- //DEV103 pour image changée onmouseover-->
			  <a class="linkUniver" href="<?php echo $category['href']; ?>&me=1" title="<?php echo $category['name']; ?>"><?php echo $category['name']; ?></a>
              <span id="thumb_<?php echo $category['category_id'] ; ?>" style="display:none"><img src="<?php echo $category['thumb'] ; ?>"/></span>
              <!-- //DEV103 pour image changée onmouseover-->
              <!-- //DEV103 pour image changée onmouseover-->
              <span id="thumb_promo_<?php echo $category['category_id'] ; ?>" style="display:none"><img src="<?php echo $category['thumb_promo'] ; ?>"/></span>
              <!-- //DEV103 pour image changée onmouseover-->
			  
              <?php if ($category['children']) { ?>
                    <ul id="sub7" class="storemenu_sub">
                <li class=" colcol colonne_1">
                    <div class="block_menu_top_col_1">
                    <p class="title-block">Les Indispensables !</p>
                    <img src="https://www.easyflyer.fr/imprimerie//impression-univers-plv-exterieure.png" alt="Support de communication pour extérieur">
                    </div>
                    <!--DEV103 Les Indispensables-->
                    <?php if(count($category['indispensable']) >0 ):?>
                        <ul>
                            <?php foreach($category['indispensable'] as $toIndispensable): ?>
                                <li class="colblock block487">
                                    <div class="titlecat">
                                        <a href="" rel="" title=""><span class="iconTitle">&gt;</span><?php echo $toIndispensable['meta_title'] ; ?></a>
                                    </div>
                                    <ul class="blocklink">
                                        <li>
                                            <a href="<?php echo $toIndispensable['href'] ; ?>" rel="" title="<?php echo $toIndispensable['meta_title'] ; ?>"><?php echo $toIndispensable['name'] ; ?>
                                                <span class="cat_low_price">
                                                    <?php if($toIndispensable['type'] == 'c'): ?>
                                                        <?php echo $text_from ; ?>
                                                    <?php endif ; ?>
                                                      <?php echo $toIndispensable['price'] ; ?>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                    <!--DEV103 Les Indispensables-->
                  </li>
                  
                  
                  <?php 
                  
                  $count_col_1 = 0 ;
                  $count_col_2 = 7 ;
                
                  echo '<li class="colcol colonne_2">
                    <h3>'.$category['name'].'</h3>
                        <ul>' ;
                         foreach ($toCategoryChildren as $child)
                        {
                            if( $count_col_1 < 7 && $child['href'] != "" ){
                                echo  '<li class="colblock" >';
                                    echo  '<div class="titlecat">' ;
                                        //DEV103 pour image changée onmouseover
                                        echo  '<a href="'.$child['href'].'" onmouseover="loadapercu(' . $child['category_id'] . ');" title="'.$toCategoryChildren[$count_col_1]['name'].'"><span class="iconTitle">></span>'.$toCategoryChildren[$count_col_1]['name'].'</a>';
                                        echo '<span id="thumb_' . $child['category_id'] . '" style="display:none"><img src="' . $child['thumb'] . '"/></span>' ;
                                        //DEV103 pour image changée onmouseover
                                    echo  '</div>' ;
                                echo  '</li>';
                            }
                            $count_col_1 ++ ;
                        }
                    echo '</ul>
                    </li>' ;
                    
                    echo  '<li class="colcol colonne_3">
                        <ul>' ;
                        if(count($toCategoryChildren) > 7){
                            foreach ($toCategoryChildren as $child)
                            {
                                if( $count_col_2 > 6 && $count_col_2 < 14 && $child['href'] != "" ){
                                    
                                    if(isset($toCategoryChildren[$count_col_2]) && $toCategoryChildren[$count_col_2] != '' ){
                                        echo  '<li class="colblock" >';
                                        echo  '<div class="titlecat">' ;
                                            //DEV103 pour image changée onmouseover
                                            echo  '<a href="'.$child['href'].'" onmouseover="loadapercu(' . $child['category_id'] . ');" title="'.$toCategoryChildren[$count_col_2]['name'].'"><span class="iconTitle">></span>'.$toCategoryChildren[$count_col_2]['name'].'</a>';
                                            echo '<span id="thumb_' . $child['category_id'] . '" style="display:none"><img src="' . $child['thumb'] . '"/></span>' ;
                                            //DEV103 pour image changée onmouseover
                                        echo  '</div>' ;
                                        echo  '</li>';
                                    }
                                    
                                }
                                $count_col_2 ++ ;
                            }
                        }
                    echo '</ul>
                    </li>' ;
                  ?>

                  <li class=" colcol colonne_4">
                      <ul>
                          <li class="colonne_stat">
                            <div class="preview_col4"><span class="label">Aperçu du produit</span> 
                                <p class="cat_img_preview"><img src="" alt=""></p>
                            </div>
                            <div><a href=""><img src="" alt=""></a></div>
                           </li>
                           <li class="colonne_stat">
                            <div class="preview_col4">
                                <p class="cat_img_preview_promo"><img src="" alt=""></p>
                            </div>
                            <div><a href=""><img src="" alt=""></a></div>
                           </li>
                      </ul>
                  </li>
                </ul>
              <?php } // FIN if ($category['children']) ?>
              
                      
              </li>
            <?php } ?>
        </ul>
	</div>
	<div class="clear"></div>
	
</div>
		
<script type="text/javascript">
    //DEV103 pour image changée onmouseover
    function loadapercu(_iCategorieId)
    {
        var zContenuImageCategorie = $('#thumb_' + _iCategorieId).html() ;
        $('.cat_img_preview').html(zContenuImageCategorie) ;
    }
    //DEV103 pour image changée onmouseover
    //DEV103 Image promo
    function loadapercupromo(_iCategorieId)
    {
        var zContenuImageCategorie = $('#thumb_promo_' + _iCategorieId).html() ;
        $('.cat_img_preview_promo').html(zContenuImageCategorie) ;
    }
    //DEV103 Image promo
<!--
  $(document).ready(function() {
		$('#storenavigationnew li.univers_link').hover(function(){
            //DEV103 pour image changée onmouseover
            var iCategorieId = $(this).attr('data-type-categorieid') ;
            loadapercu(iCategorieId) ;
            //DEV103 pour image changée onmouseover
            //DEV103 Image promo
            loadapercupromo(iCategorieId) ;
            //DEV103 Image promo
			$(this).stop().addClass('active');
		},function(){
			$(this).stop().removeClass('active');
		});
		/*
		$('#storenavigationnew .titlecat a,#storenavigationnew .blocklink a').live('hover', function(){
			var $this = $(this);
	        var subMenuActif = $('#storenavigationnew').find('li.active');
			if($(this).attr('rel')!= '') {
				var rel =  $(this).attr('rel');
				
				var prev = subMenuActif.find('.cat_img_preview');
				var img = $('<img />').attr('src', rel)
				prev.html( img ).show();
				
			} else {
				subMenuActif = subMenuActif.find('.cat_img_preview').hide();
			}
		});
        */
	});
-->
</script>
<?php } ?>
