

<style type="text/css">

#resultat{
   z-index: 5000; position: absolute;display:none;margin-top: -10px;width: 600px;min-height: 315px;background: #fff;border-radius: 3px;border-bottom: 1px solid #ccc;box-shadow: 0 3px 3px rgba(30,30,30,.3);
}

</style>


<div id="search" class="input-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>

<div id="resultat" style=" ">

</div>







<script type="text/javascript">


var timoutClickPremierCategorie ;


function prendreProduits() {
   
   
   var id_categorie = $('.class_cat').first().attr('id_categorie');
   
   console.log(" ato "+id_categorie );
   
   rechercher_produit(id_categorie);
   
   //$('.class_cat').first().trigger( "click" );
   
}






var mouse_is_inside = false;

/*
function rechercher_produit ( id_categorie )
{

	$.ajax({
      url: 'index.php?route=ajax/index/rechercher_produit',
	  type : 'POST',
	  data : 'id_categorie='+id_categorie ,
      dataType: 'html',
      success: function(htmlText) {

	  
		if( htmlText.length > 10 )
		{
			//console.log( htmlText);
			//$("#resultat").show();
   
			//$('#resultat').html(htmlText);
		}
		
		
		},
      error: function(xhr, ajaxOptions, thrownError) {

	//  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
     
	 }
    });
	

}
*/



$(document).ready(function()
{
    $('#resultat').hover(function(){ 
        mouse_is_inside=true; 
    }, function(){ 
        mouse_is_inside=false; 
    });


	
});



$("body").click(function() {
   
   if( !mouse_is_inside )
   {
	  $("#resultat").hide();
   }
   
   
 
   
  });
  
  
  
 $( "#search input" ).focus(function() {
   
   if( $( "#search input").val().length > 0 )
	{
	$.ajax({
      url: 'index.php?route=ajax/index/rechercher',
	  type : 'POST',
	  data : 'mot='+$( "#search input").val() ,
      dataType: 'html',
      success: function(htmlText) {

	  
		if( htmlText.length > 10 )
		{
			//console.log( htmlText);
			$("#resultat").show();
   
			$('#resultat').html(htmlText);
			
			clearTimeout( timoutClickPremierCategorie );
			timoutClickPremierCategorie = setTimeout( prendreProduits, 1000 );
			
		}
		
		
		// clic sur le premier categorie 
		//$(".lien_1").click();
		
		},
      error: function(xhr, ajaxOptions, thrownError) {

	 // alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
     
	 }
    });
   
	
   }
	
   
   
  });

 $( "#search input" ).keyup(function() {
 
	
	$.ajax({
      url: 'index.php?route=ajax/index/rechercher',
	  type : 'POST',
	  data : 'mot='+$( "#search input").val() ,
      dataType: 'html',
      success: function(htmlText) {

	  
		if( htmlText.length > 10 )
		{
			//console.log( htmlText);
			$("#resultat").show();
   
			$('#resultat').html(htmlText);
			
			
			clearTimeout( timoutClickPremierCategorie );
			timoutClickPremierCategorie = setTimeout( prendreProduits, 1000 );
		
		}
		
		// clic sur le premier categorie 
		//$(".lien_1").click();
		
		},
      error: function(xhr, ajaxOptions, thrownError) {

	//  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
     
	 }
    });
	
	
	
  });
</script>


