<div class="container footer footcart">
   <!--div class="contfoot "-->
   <div class="">

  <div class="footcontent">
  <div class="footleft">
  <ul style="list-style: none;">
  <li><a href="#" target="_blank">
  <img src="http://adprint-dev.com/image/cache/catalog/soft_checkout/mon-imprimerie-en-ligne-https-secure.png" alt="" width="38" height="37">
  PAIEMENT 100 % SÉCURISÉ
  </a>
  <span>Achetez en toute confiance</span>
  </li>
  <li><a href="">
  <img src="http://adprint-dev.com/image/cache/catalog/soft_checkout/mon-imprimerie-en-ligne-quality-service.png" alt="" width="38" height="37">
  SATISFAIT OU REMBOURSÉ</a>
  <span>Votre satisfaction, notre priorité !</span>
  </li>
<!--   <li>

  <a href="#" target="_blank"><img src="http://adprint-dev.com/image/cache/catalog/soft_checkout/mon-imprimerie-en-ligne-grey-transport.png" alt="" width="38" height="37">
  Livraison GRATUITE</a>
  <span> Dès 0Ar d’achat sur TANA ville</span>

  </li> -->
  </ul>
  </div>
  <div class="footright">
  <ul style="list-style: none;">
  <li>
  <img src="http://adprint-dev.com/image/cache/catalog/soft_checkout/mon-imprimerie-en-ligne-phone-service.png" alt="">
  <strong>+(261) 33 33 333 33</strong>

  <span class="smally">Du lundi au vendredi de 8h à 20h00<span class="smally"></span></span></li>
  <li>
  <img src="http://adprint-dev.com/image/cache/catalog/soft_checkout/mon-imprimerie-en-ligne-chat-en-ligne-cart.png" alt="">

  <a href="#" title="Contactez-nous par email" target="_blank">
  Contactez-nous par email
  </a>

  </li>
  <li>
  <a href="#" title="Besoin d'aide" target="_blank">
  <img src="http://adprint-dev.com/image/cache/catalog/soft_checkout/mon-imprimerie-en-ligne-aide-en-ligne-cart.png" alt="">
  AIDE
  et Questions Fréquentes
  </a>
  </li>
  </ul>
  </div>
  </div></div>
        <div class="clear"></div>
     <div class="botfoot"> <address>Copyright ©2017 AdPrint</address></div>
  </div>
</div>

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->

</body></html>