
<div id="fake-sidebar-wrapper">
    <div class="fake-sidebar">
      <h2>Votre panier</h2>	  
       <div id="cart-sidebar-ajaxifier" class="cart-sidebar cart-totals">					<div class="subtotals-holder">
				<div class="subtotals-separator">
					<table id="shopping-cart-totals-table">  
						<tbody>     
						<?php foreach ($totals as $total) { 
							 if ($TVA == 0) { ?> 
                          <?php if($total['title'] != 'TVA') { ?>
                         <?php if($total['title'] == "Total") { ?>
                          <tr>
                            <td style="" class="a-right montant-text" colspan="1">
                               Montant Total 
                            </td>
                            <td style="" class="a-right">
                                <span class="price"><?php echo $total['text']; ?></span>    
                            </td>
                          </tr>
                          <?php } else { ?>
                          <tr>
                            <td style="" class="pull-right" colspan="1">
                                <?php echo $total['title']; ?>
                            </td>
                            <td style="" class="a-right">
                                <span class="price"><?php echo $total['text']; ?></span>    
                            </td>
                          </tr>
                          <?php } ?>
                          <?php } ?>
                        <?php } else { ?>
                          <?php if($total['title'] == "Total") { ?>
                          <tr>
                            <td style="" class="a-right montant-text" colspan="1">
                                Montant Total T.T.C
                            </td>
                            <td style="" class="a-right">
                                <span class="price"><?php echo $total['text']; ?></span>    
                            </td>
                          </tr>
                          <?php } else { ?>
                          <tr>
                            <td style="" class="pull-right" colspan="1">
                                <?php echo $total['title']; ?>
                            </td>
                            <td style="" class="a-right">
                                <span class="price"><?php echo $total['text']; ?></span>    
                            </td>
                          </tr>
                        <?php } ?>
                        <?php } ?>
              <?php } ?>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
