

<style type="text/css">

.produit_resultat {
	float:left;
	width:50%;
	min-height: 130px;
}

.image_produit{
	float: left;
	width:40%;
}

.img_image_produit{
	width:90%;
	height: auto;	
}

.nom_produit{
	width:60%;
	float: left;
	    color: #888;
}

.nom_produit:hover{
	color: #f0008a;
}

.titre_produit{
	padding-bottom: 5px;
	padding-left: 10px;
	width:100%;
	float:left;
	font-weight:bold;
}

</style>


<span class="titre_produit"> Produits</span>


<?php

/*


			if( isset( $_GET['me'] ) && $_GET['path'] == 70 )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_carte_visite', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 73 )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_flyers', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 620  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_marquage_vehicule', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 618  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_support_rigide', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 690  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_visuel_seul', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 75  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_depliant_plaquette', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 76  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_tete_de_lettre', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 77  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_brochure_live', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 67  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_plv_expo_stand', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 78  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_signaletique_exterieure', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 79  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_bache_banderole', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 80  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_affiche', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 81  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_stickers_adhesif', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 83  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_objet_pub', $data));
			}
			else if( isset( $_GET['me'] ) && $_GET['path'] == 84  )
			{
				$this->response->setOutput($this->load->view('common/accueil_menu/accueil_vetement', $data));
			}	


			
if( $categorie['category_id'] == 70 || $categorie['category_id'] == 73 || $categorie['category_id'] == 620 || $categorie['category_id'] == 618 || $categorie['category_id'] == 690 || $categorie['category_id'] == 75 || $categorie['category_id'] == 76 || $categorie['category_id'] == 77 || $categorie['category_id'] == 67 || $categorie['category_id'] == 78 || $categorie['category_id'] == 79 || $categorie['category_id'] == 80 || $categorie['category_id'] == 81 || $categorie['category_id'] == 83 || $categorie['category_id'] == 84   ){  }			
			
			
*/



?>




<?php

	if( isset( $categorie['name']) && isset($categorie['image']) &&  strlen($categorie['image']) > 5  )
	{ ?>
		<a class="produit_resultat" href="http://adprint-dev.com/index.php?route=product/category<?php if( $categorie['category_id'] == 70 || $categorie['category_id'] == 73 || $categorie['category_id'] == 620 || $categorie['category_id'] == 618 || $categorie['category_id'] == 690 || $categorie['category_id'] == 75 || $categorie['category_id'] == 76 || $categorie['category_id'] == 77 || $categorie['category_id'] == 67 || $categorie['category_id'] == 78 || $categorie['category_id'] == 79 || $categorie['category_id'] == 80 || $categorie['category_id'] == 81 || $categorie['category_id'] == 83 || $categorie['category_id'] == 84   ){ echo '&me=1&st=1' ; } ?>&path=<?php echo $categorie['category_id'] ; ?>" >
		
		<div class="image_produit">
			<img class="img_image_produit" src="<?php echo $categorie['thumb'] ; ?>" >
			
		</div>
		<div class="nom_produit">
			<?php echo $categorie['name'] ; ?>
		</div>
		
		</a>
		<?php
	}
	else if( isset( $categorie['category_id']) )
	{ ?>
		<a class="produit_resultat" href="http://adprint-dev.com/index.php?route=product/category<?php if( $categorie['category_id'] == 70 || $categorie['category_id'] == 73 || $categorie['category_id'] == 620 || $categorie['category_id'] == 618 || $categorie['category_id'] == 690 || $categorie['category_id'] == 75 || $categorie['category_id'] == 76 || $categorie['category_id'] == 77 || $categorie['category_id'] == 67 || $categorie['category_id'] == 78 || $categorie['category_id'] == 79 || $categorie['category_id'] == 80 || $categorie['category_id'] == 81 || $categorie['category_id'] == 83 || $categorie['category_id'] == 84   ){ echo '&me=1&st=1' ; } ?>&path=<?php echo $categorie['category_id'] ; ?>" >
			<div class="image_produit">
			<img class="img_image_produit" src="http://adprint-dev.com/image/cache/no_image-40x40.png" >
		</div>
		<div class="nom_produit">
			<?php if( isset( $categorie['name'] ) ) echo $categorie['name'] ; ?>
		</div>
		
		</a>
		<?php	
	}




?>

<?php
foreach( $categories as $cat )
{ ?>

		<?php
		if( isset( $cat['category_id'] ) && strlen($cat['image']) > 5 )
		{ ?>
			<a class="produit_resultat" href="http://adprint-dev.com/index.php?route=product/category<?php if( $cat['category_id'] == 70 || $cat['category_id'] == 73 || $cat['category_id'] == 620 || $cat['category_id'] == 618 || $cat['category_id'] == 690 || $cat['category_id'] == 75 || $cat['category_id'] == 76 || $cat['category_id'] == 77 || $cat['category_id'] == 67 || $cat['category_id'] == 78 || $cat['category_id'] == 79 || $cat['category_id'] == 80 || $cat['category_id'] == 81 || $cat['category_id'] == 83 || $cat['category_id'] == 84   ){ echo '&me=1&st=1' ; } ?>&path=<?php echo $cat['category_id'] ; ?>" >
			
			<div class="image_produit">
				<img class="img_image_produit" src="<?php echo $cat['thumb'] ; ?>" >
			</div>
			<div class="nom_produit">
				<?php if( isset( $cat['name'] ) )  echo $cat['name'] ; ?>
			</div>
			
			</a>
			<?php
		}
		else if( isset( $cat['category_id'] ) )
		{ ?>
			<a class="produit_resultat" href="http://adprint-dev.com/index.php?route=product/category<?php if( $cat['category_id'] == 70 || $cat['category_id'] == 73 || $cat['category_id'] == 620 || $cat['category_id'] == 618 || $cat['category_id'] == 690 || $cat['category_id'] == 75 || $cat['category_id'] == 76 || $cat['category_id'] == 77 || $cat['category_id'] == 67 || $cat['category_id'] == 78 || $cat['category_id'] == 79 || $cat['category_id'] == 80 || $cat['category_id'] == 81 || $cat['category_id'] == 83 || $cat['category_id'] == 84   ){ echo '&me=1&st=1' ; } ?>&path=<?php echo $cat['category_id'] ; ?>" >
				<div class="image_produit">
				<img class="img_image_produit" src="http://adprint-dev.com/image/cache/no_image-40x40.png" >
			</div>
			<div class="nom_produit">
				<?php if( isset( $cat['name'] ) ) echo $cat['name'] ; ?>
			</div>
			
			</a>
			<?php	
		}
		?>


<?php
}
?>