﻿

<style type="text/css">

#liste_categories{
overflow: scroll; overflow-x: hidden;width:200px;float:left; height: 314px;background: #f4f4f4;
}
.suggestion{
padding: 5px;background-color: #ffffff;font-weight: bold;
}
.liste_cat:hover a{
	color: #f0008a;
}
.liste_cat{
	padding: 5px;
}
.liste_cat:hover {
	background-color: #ffffff;
}
.liste_cat_lien{
text-decoration: none;color: #888;display: block;
}

#liste_produits{
width:400px;float:left;padding:5px;
}


</style>


<script type="text/javascript">

function rechercher_produit ( id_categorie )
{


	// $( "#search input").val();


	$.ajax({
      url: 'index.php?route=ajax/index/rechercher_produit',
	  type : 'POST',
	  data : 'id_categorie='+id_categorie ,
      dataType: 'html',
      success: function(htmlText) {

			
			$("#liste_produits").html( htmlText );
			
		
		
		},
      error: function(xhr, ajaxOptions, thrownError) {

	//  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
     
	 }
    });
	
	
	
	

}


</script>



<div id="liste_categories"  >
	<div>

		<ul id="id_ul">
			<li class="suggestion"  >
			Suggestions pour <?php echo $mot ; ?> </br>
			</li>
			
				<?php

			if($categories != "")
			{
				$lien = 1 ;
				foreach( $categories as $cat )
				{
				?>
				
				<li class="liste_cat"  >
				<a  id_categorie="<?php echo $cat['category_id']; ?>" class="class_cat liste_cat_lien lien_<?php echo $lien;?>" href='javascript:void(0)' 
				onclick="rechercher_produit(<?php echo $cat['category_id']; ?>);"  > <?php echo $cat['name'] ; ?> </a> 
				
				</li>
					
				<?php
				$lien++ ;
				}
			}
			?>

		</ul>

	</div>
</div>

<div id="liste_produits"  >


</div>
