body{
    background: rgba(0,0,0,.3);
    background-image: url('../image/bg2.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}
#logo a img {
    max-width: 165px;
}
#top {
    /*background-color: transparent;
    border-bottom: transparent;*/
	background-color: transparent;
	background-image: -moz-linear-gradient(left center , #77170e 0px, #e30522 100%);
	color: white !important;
}
#top .container {
    padding: 10px 20px 0;
	background-color: transparent;
    /*background-color: #EEEEEE;*/
}
.dropdown-menu > li > a:hover{
    color: #ccc;
}
header{
    background: transparent;
    padding-top: 0;
}
header .container{
    background: #fff;
    padding-top: 13px;
}
.container{
    background: #fff;
}
footer .container{
    background: transparent;
	
}
#storenavigationnew{
    border: transparent;
}
#storenavigationnew .container{
    background: #fff;
    padding-top: 13px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}
#search .btn-lg {
    padding: 15px 25px;
}
/***STORE NEW**/
#storenavigationnew{background:transparent;float:left;position:relative;z-index:999;width: 100%;}
#storemenu{border:none;background:none}
#storenavigationnew ul{min-height:auto!important;list-style-type:none;font-family:Arial;padding:0;margin:0;height:auto!important;width:100%;}
li.univers_link{float:left}
/*#storenavigationnew .univers_link{padding:0 0 0 7px}*/
#storenavigationnew .univers_link.last{border:none}
#storenavigationnew .univers_link a.linkUniver{border-right:1px solid #e3e3e3;height:36px;line-height:18px;margin-top:14px;margin-bottom:9px;color:#4a4849;font-weight:400;display:block;vertical-align:middle;font-family:"Trebuchet MS"!important;*font-style:normal;*font-family:Arial;font-style:normal\0/;font-family:"Trebuchet MS"\0/;font-size:12px;text-decoration:none;white-space:normal;text-indent:0;text-align:center;padding-right:7px;padding-left:7px;text-shadow:0 1px 0 rgba(255,255,255,.4)}
#storenavigationnew .univers_link a.linkUniver:last-child{border:transparent;}
#storenavigationnew ul li:nth-child(1) a.linkUniver{width:65px}
#storenavigationnew ul li:nth-child(2) a.linkUniver{width:60px;}
#storenavigationnew ul li:nth-child(3) a.linkUniver{width:120px}
#storenavigationnew ul li:nth-child(4) a.linkUniver{width:60px}
#storenavigationnew ul li:nth-child(5) a.linkUniver{width:60px}
#storenavigationnew ul li:nth-child(6) a.linkUniver{width:80px}
#storenavigationnew ul li:nth-child(7) a.linkUniver{width:115px}
#storenavigationnew ul li:nth-child(8) a.linkUniver{width:65px}
#storenavigationnew ul li:nth-child(9) a.linkUniver{width:75px}
#storenavigationnew ul li:nth-child(10) a.linkUniver{width:80px}
#storenavigationnew ul li:nth-child(11) a.linkUniver{width:80px}
#storenavigationnew ul li:nth-child(12) a.linkUniver{width:60px}
#storenavigationnew ul li:nth-child(13) a.linkUniver{width:67px;}
#storenavigationnew ul li:nth-child(14) a.linkUniver{width:80px;}
#storenavigationnew ul li:nth-child(15) a.linkUniver{border:none;width:73px;}
#storenavigationnew .universred{color:#fff;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;background:-webkit-gradient(linear,left top,left bottom,from(#fd43ae),to(#a40661));background:-webkit-linear-gradient(top,#fd43ae,#a40661);background:-moz-linear-gradient(top,#fd43ae,#a40661);background:-o-linear-gradient(top,#fd43ae,#a40661);background:linear-gradient(to bottom,#fd43ae,#a40661);*background:#da208b;background:#da208b \0/}
#storenavigationnew .universred:hover{*background:#a40661;background:#a40661 \0/;background:-webkit-gradient(linear,left top,left bottom,from(#a40661),to(#fd43ae));background:-webkit-linear-gradient(top,#a40661,#fd43ae);background:-moz-linear-gradient(top,#a40661,#fd43ae);background:-o-linear-gradient(top,#a40661,#fd43ae);background:linear-gradient(to bottom,#a40661,#fd43ae)}
#storenavigationnew .universred a.linkUniver{color:#fff}
#storenavigationnew .universpink:hover,#storenavigationnew .universpink.current{background:#ec008c}
#storenavigationnew .universblue:hover,#storenavigationnew .universblue.current{background:#18b4ea}
#storenavigationnew .universyellow:hover,#storenavigationnew .universyellow.current{background:#f5951c}
#storenavigationnew .universrd:hover,#storenavigationnew .universrd.current{background:#D03E3E}
#storenavigationnew .universrd:hover a{border-color:#D03E3E}
#storenavigationnew .universpink:hover a{border-color:#ec008c}
#storenavigationnew .universblue:hover a{border-color:#18b4ea}
#storenavigationnew .universyellow:hover a{border-color:#f5951c}
#storenavigationnew .universpink:hover a,#storenavigationnew .universblue:hover a,#storenavigationnew .universyellow:hover a,#storenavigationnew .universrd:hover a{color:#fff}
#storenavigationnew .universpink.current a,#storenavigationnew .universblue.current a,#storenavigationnew .universyellow.current a,#storenavigationnew .universrd.current a{color:#fff;border:none}
.universpink ul.storemenu_sub{border:2px solid #ec008c}
.universblue ul.storemenu_sub{border:2px solid #18b4ea}
.universyellow ul.storemenu_sub{border:2px solid #f5951c}
.universrd ul.storemenu_sub{border:2px solid #D03E3E}
ul.storemenu_sub .titlecat{color:#6c6c6e;text-align:left;font-weight:400;padding:2px 3px 2px 0;font-size:14px;line-height:30px}
ul.storemenu_sub .titlecat a{color:#6c6c6e!important;text-align:left;margin-left:0!important;font-weight:400;padding:0;font-size:14px;line-height:30px;display:block}
#storenavigationnew ul.blocklink li a{background-repeat:no-repeat;padding-left:12px;font-size:12px;line-height:16px;width:145px!important;display:block;color:#000!important;text-indent:0!important;white-space:normal!important;margin-left:0;text-align:left}
ul.subblock li h4{font-weight:400!important;font-style:italic;text-align:left;font-size:13px;line-height:15px}
li.colblock img{float:left;width:60px;height:60px;margin-right:3px}
#storenavigationnew li.colblock{clear:both}
#storenavigationnew li.colblock ul.subblock{float:left!important;width:90%!important}
ul.blocklink{width:150px!important}
ul.blocklink li{width:150px!important}
#storenavigationnew ul.subblock ul.blocklink li a{background-repeat:no-repeat;padding-left:12px;font-size:12px;line-height:16px;width:145px!important;display:block;color:#000;text-indent:0!important;white-space:normal!important;margin-left:0}
li.blockBot{width:100%;float:left;margin-left:-10px;background:#f8f8f8;padding:5px 10px}
.storemenu_sub{position:absolute;left:0;padding:0;display:none\0/;top:59px;height:auto!important;background:#fff;z-index:9999}
.storemenu_sub .colonne_1{*background:#ebebeb;background:#ebebeb \0/;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ebebeb));background:-webkit-linear-gradient(top,#fff,#ebebeb);background:-moz-linear-gradient(top,#fff,#ebebeb);background:-o-linear-gradient(top,#fff,#ebebeb);background:linear-gradient(to bottom,#fff,#ebebeb);padding:10px 5px 0 8px !important;-moz-box-shadow:inset -3px 0 6px -2px #b4b4b4;-webkit-box-shadow:inset -3px 0 6px -2px #b4b4b4;-o-box-shadow:inset -3px 0 6px -2px #b4b4b4;box-shadow:inset -3px 0 6px -2px #b4b4b4;border-right:1px solid #b4b4b4\9}
.storemenu_sub .colonne_1 .titlecat,.storemenu_sub .colonne_1 .titlecat a{font-size:16px;color:#6c6c6e;font-weight:700;font-style:italic}
#storenavigationnew .colonne_1 ul.blocklink li a .cat_low_price{float:right;font-size:14px;padding-right:10px}
.storemenu_sub .colonne_1 ul.blocklink li{width:auto!important}
#storenavigationnew .colonne_1 ul.blocklink li a{width:auto!important}
.preview_col4 p.cat_img_preview{text-align:center;line-height:130px;margin-top: 10px;}
.preview_col4 p.cat_img_preview img{vertical-align:middle}
/*DEV103 Image promo*/
.preview_col4 p.cat_img_preview_promo{text-align:center;line-height:130px}
.preview_col4 p.cat_img_preview_promo img{vertical-align:middle}
/*DEV103 Image promo*/
.storemenu_sub .colonne_4 .preview_col4{height:auto;margin:0 auto 10px;border:1px solid #18b4ea}
.universpink ul.storemenu_sub .colonne_4 .preview_col4{border:1px solid #ec008c}
.universblue ul.storemenu_sub .colonne_4 .preview_col4{border:1px solid #18b4ea}
.universyellow ul.storemenu_sub .colonne_4 .preview_col4{border:1px solid #f5951c}
.universrd ul.storemenu_sub .colonne_4 .preview_col4{border:1px solid #D03E3E}
.storemenu_sub .colonne_4{float:right!important}
.storemenu_sub .colonne_4 .preview_col4 .label{font-size:14px;font-style:italic;font-weight:700;text-align:center;background:#fff;display:block;padding:0;clear:both;margin:-10px 35px}
.universpink ul.storemenu_sub .colonne_4 .preview_col4 .label{color:#ec008c}
.universblue ul.storemenu_sub .colonne_4 .preview_col4 .label{color:#18b4ea}
.universyellow ul.storemenu_sub .colonne_4 .preview_col4 .label{color:#f5951c}
.universrd ul.storemenu_sub .colonne_4 .preview_col4 .label{color:#D03E3E}
#storenavigationnew li.colonne_stat{margin-right:20px}
.storemenu_sub .block_menu_top_col_1 h3{color:#6c6c6e!important;font-weight:700;font-size:19px;text-transform:uppercase;text-align:center!important}
.storemenu_sub .block_menu_top_col_1 img{display:block;margin:0 auto}
ul.storemenu_sub .colonne_4 a{margin: 0 auto;}
#storenavigationnew li ul.storemenu_sub{visibility:hidden;opacity:0;height:0!important;overflow:hidden;display:none\0/;display:none\9;*display:none}
#storenavigationnew li.active ul.storemenu_sub{visibility:visible;opacity:1;display:block;height:auto!important;transition-delay:0;display:block\0/;display:block\9;*display:block;min-height:330px}
#storenavigationnew li.active ul .blockblock{clear:both!important}
#storenavigationnew li.colcol{width:25%;float:left;padding:10px 0 0 15px !important;min-height:320px}
.universpink ul.storemenu_sub .titlecat .iconTitle,.universpink .colcol h3{color:#ec008c}
.universblue ul.storemenu_sub .titlecat .iconTitle,.universblue .colcol h3{color:#18b4ea}
.universyellow ul.storemenu_sub .titlecat .iconTitle,.universyellow .colcol h3{color:#f5951c}
.universrd ul.storemenu_sub .titlecat .iconTitle,.universrd .colcol h3{color:#D03E3E}
.colcol h3{text-align:left}
#storenavigationnew ul.storemenu_sub .colonne_1 .iconTitle,#storenavigationnew ul.storemenu_sub .colonne_1 a .iconTitle{color:#6c6c6e!important}
#storenavigationnew ul.storemenu_sub .colonne_1 .blocklink a{font-style:italic;font-size:12px;color:#6c6c6e!important}
#storenavigationnew ul.storemenu_sub .titlecat .iconTitle{font-size:14px;font-weight:700;margin-right:3px}
#storenavigationnew li.colcol ul{width:auto!important}
ul.subblock li{clear:both;text-align:left}
ul.subblock li.colsublock{margin-bottom:8px}
.blocklink li{clear:both}
ul li.colblock{width:100%;margin-bottom:3px;float:left}
ul.subblock li h4{font-style:italic;text-align:left}
ul.blocklink{clear:both;min-height:10px!important}
.colcol li a{text-decoration:none;font-size:14px;color:#252525;line-height:14px;cursor:pointer;margin-left:10px}
.universpink ul.storemenu_sub .colcol li a:hover,#storenavigationnew .universpink ul.storemenu_sub .colonne_1 .blocklink a:hover{color:#ea319d!important}
.universblue ul.storemenu_sub .colcol li a:hover,#storenavigationnew .universblue ul.storemenu_sub .colonne_1 .blocklink a:hover{color:#18b4ea!important}
.universyellow ul.storemenu_sub .colcol li a:hover,#storenavigationnew .universyellow ul.storemenu_sub .colonne_1 .blocklink a:hover{color:#f5951c!important}
.universrd ul.storemenu_sub .colcol li a:hover,#storenavigationnew .universrd ul.storemenu_sub .colonne_1 .blocklink a:hover{color:#D03E3E!important}
/**FIN NEW MENU**/


/*GESTION MENU RESPONSIVE*/
@media(min-width:850px){
    #menu_responsive{display:none;}
    #storenavigationnew{display:block;}
    #img_livraison{display:block;margin: 10px 0;}
}
@media(max-width:850px){
    #menu_responsive{display:block;}
    #storenavigationnew{display:none;}
    #img_livraison{display:none;}
}
/*GESTION MENU RESPONSIVE*/

.breadcrumbs {
    font-size: 11px;
    line-height: 1.25;
    margin: 0 0 5px;
}
.breadcrumbs li {
    display: inline;
}

.titre_produit{width:100%;}
.qty-label {
    color: #404040 !important;
    line-height: 20px !important;
    margin: 0 2px !important;
    padding: 0 !important;
    font-weight: bold;
}
.price-excluding-tax h2{
    font-size: 36px!important;
    font-weight: bold;
    color: #18B4EA!important;
}

/*prix degressif*/
.tier-prices {
    background: none!important;
    width: 100%!important;
    height: 50px;
    padding: 0px;
    margin: 10px 0;
    float: left;
    border: 1px solid #dadddd;
}
.tier-prices .first {
    float: left;
    width: 30%;
    border-right: 1px solid #dadddd;
    padding: 2px 0px 0px 12px;
}
.tier-prices .first span {
    font-size: 10px;
    line-height: 23px;
    font-weight: bold;
    color: #18B4EA;
}

.tier-prices li {
    float: left;
    margin-left: -4%;
    text-align: center;
    width: 21%;
}
.tier-prices li ul li:first-child {
    border-bottom: 1px solid #dadddd;
    padding-bottom: 3px;
}
.tier-prices li ul li {
    width: 100%;
    font-size: 11px;
    padding: 5px 0 0 0;
    background: none;
    text-align: center;
    line-height: 1.4;
}

.tier-prices li ul li .price {
    font-weight: normal;
    font-size: 10px;
}
.tier-prices .price {
    color: #2f2f2f;
}
ul, ol {
    list-style: outside none none;
     padding: 0;
}
/*prix degressif*/

/*options produits*/
.options-produits{
    text-align:left ;
}
.options-produits-wrapper {
    text-align: left;
}
.options-produits-wrapper ul {
    padding-left: 0;
}
.options-produits-wrapper li {
    margin-bottom: 18px;
}
.form-control{
    /*width:85% !important ;*/
    width:100% !important ;
}

.form-order-changer .form-control{
    /*width:85% !important ;*/
    width:30% !important ;
}
/*options produits*/

.product-designer {
    float: left;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px auto;
}
.product-designer .uploadFichier {
    padding: 0px 5px 0 5px;
    float: left;
}
.product-designer .designerBlock {
    padding: 0px 0px 0 10px;
    float: right;
    border-left: 1px solid #e1e1e1;
}
.product-designer .uploadFichier .designTitle {
    line-height: 35px;
    height: 33px;
    text-align: center;
    background-position: 2% 0%;
    background-image: url(../image/imprimerie-en-ligne-upload-fichier-info-product-page.png);
    background-repeat: no-repeat;
}
.product-designer .designTitle {
    font-size: 18px;
    color: #000;
    margin: 0px 0 5px 0;
}
.gabdesign {
    padding-left: 30px;
    background-image: url(../image/impression-en-ligne-gabarit-use.png);
    background-repeat: no-repeat;
    background-position: 6% 3px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    display: block;
    clear: both;
}
.product-designer .designerBlock .designTitle {
    line-height: 35px;
    height: 33px;
    text-align: center;
    background-position: 14% 0%;
    background-image: url(../image/imprimerie-en-ligne-designer-fichier-info-product-page.png);
    background-repeat: no-repeat;
}
.gogalerie{
   padding-left: 30px;
    background-image: url(../image/imprimerie-en-ligne-crop-icon.png);
    background-repeat: no-repeat;
    background-position: 9% 6px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    display: block;
    clear: both;
}

.col-sm-12 h2 {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.left {
    background-image: url(../image/impression-en-ligne-delai-produit-arrow.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.product-delay-title {
    color: #898387;
    text-align: center;
    font-size: 17px;
}
 #clock {
    width: 78%;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 7px;
    margin: 5px 5px 10px 0px;
    float: right;
}
#clock li {
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    float: left;
    padding: 0 5px;
    font-weight: bold;
    color: #ff0097;
}
.delay-date .product-delay-title {
    float: left;
    font-size: 18px;
    padding: 0 5px 0 5px;
    line-height: 100px;
}
.type-of-delay {text-align: right;}
.delay .type-of-delay {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.delay{float: left;margin-left: 15px;}
p.delayinfo {
    color: #fff;
    clear: both;
    background: #555555;
    font-size: 11px;
    text-align: center;
    padding: 3px 0px;
}

.tab-content h3 {
    color: #181717;
    font-size: 13px;
    font-weight: bold;
}
.cadre-gris {background: #f6f6f6;padding: 10px 15px 15px;float:left;}
#tab-livraison, #tab-video, #tab-gabarit, #tab-description, #tab-impression {margin-bottom:30px; }
#tab-livraison .col-sm-12{border-bottom:solid 1px #e1e1e1;}



.ongletImageVideo {
}
.ongletImageVideo iframe,
.ongletImageVideo object,
.ongletImageVideo embed {
display:block;margin:0 auto;text-align:center;width:80%;height: 500px;
}


#product_page_bloc_livrai_satisf_secu {
    margin: 5px auto;
}
#product_page_bloc_livrai_satisf_secu li {
    color: #949393;
    font-size: 12px;
    padding: 6px 6px;
    position: relative;
}
#product_page_bloc_livrai_satisf_secu li span {
    height: 22px;
    line-height: 22px;
    display: inline-block;
    padding-left: 38px;
}
#product_page_bloc_livrai_satisf_secu .camion {
    background: url(../image/sprite-product-block-info-livrai-lock-satisf.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}
#product_page_bloc_livrai_satisf_secu .smiley {
    background: url(../image/sprite-product-block-info-livrai-lock-satisf.jpg);
    background-position: 0 -22px;
    background-repeat: no-repeat;
}
#product_page_bloc_livrai_satisf_secu .cadenas {
    background: url(../image/sprite-product-block-info-livrai-lock-satisf.jpg);
    background-position: 0 -44px;
    background-repeat: no-repeat;
}
#product_page_bloc_livrai_satisf_secu li a {
    color: #010101;
    font-weight: bold;
    text-decoration: none;
}
.collateral-box h3 {
    clear: both;
}
.collateral-box h3 {
    padding-left: 10px;
    margin-bottom: 12px;
    color: #18b4ea;
}
.hori.col-sm-8 > ul {
    outline: none;
    font-size: 13px;
    margin: 0 0 0.8em 10px;
    vertical-align: middle;
    text-align: justify;
}
h3 {
    font-size: 16px;
    font-weight: bold;
}
.navigation_product li {
    float: left;
    text-align: center;
    max-width: 200px;
    margin: 0 3px;
    height: 30px;
    background: #eeeeee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navigation_product li.active {
    background: #fff;
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    margin-bottom: -2px;
}
.nav-tabs>li>a{
    text-align: center;
    color: #a8a8a8;
    font-size: 12px;
    text-decoration: none;
    display: block;
    vertical-align: middle;
    padding: 6px 15px;}
    
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: none;
    border-color: none ;
    border-image: none;
    border-style: none;
    border-width: 0;
    color: inherit;
    cursor: default;
}

.navbar-default{
background-color: #FFFFFF;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.navbar-nav{
    float:inherit;
}
.navbar-nav > li > a{
    padding-bottom: 4px;
    padding-top: 4px;
    color: #7f7f7f;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    line-height: 33px;
    display: block;
    position: relative;
    padding-left: 10px;
}
.dropdown:hover{
    background-color:#F9F9F9 ;
}
.dropdown:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #bcbcbc;
    position: absolute;
    top: 38%;
    right: 10px;
    z-index: 2;
}
#oNavigation ul li.dropdown{width:100%;}
#oNavigation ul li.dropdown:hover{
    background-color:#F9F9F9 ;
}
.navbar-collapse{
padding:0px;
}

.dropdown-menu{
    display: none;
    font-size: 14px;
    list-style: outside none none;
    min-width: 210px;
    padding: 4px 0 14px 1px;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 1000;
}
#oNavigation ul li ul.dropdown-menu{
box-shadow: inherit;
left: 100%;
}
.list-group-item{
border: 0px;
}
.list-group-item.active{background-color:#F9F9F9 ;}

.experience-big {
    height: 325px;
    position: relative;
}
.experience-big .image-encart {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}
.experience-big .image-exp-big {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10;
}
.experience-big .right {
    padding-left: 5px;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 100;
}
.right {
    float: right !important;
}
.experience-big .right li {
    font-size: 14px;
    padding: 10px 0;
    text-align: left;
}
.experience-big .right li h3 {
    color: #ea319d;
}
.experience-big .right li h3 {
    border-bottom: 1px solid #d7d7d7;
    font-size: 26px;
    padding-bottom: 15px;
}
.experience-big .img_left{float:left;height: 325px;}

/*TABLEAU CATEGORIE*/
.category-inpage-navigation {
    width: 100%;
    float:left;
}

.category-inpage-navigation .cat-listing .nav-header {
    background: rgba(0, 0, 0, 0) url("../image/nav-header-bg.gif") repeat-x scroll 0 0;
    color: #fff;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    text-indent: 5px;
    width: 100%;
}
.cat-listing .nav-main-content {
    background: #e7e7e7 url("../image/nav-content-bg.gif") repeat-x scroll center bottom;
    height: auto !important;
    min-height: 30px;
    width: 100%;
}

.cat-listing .nav-header .nav-header-left {
    background: rgba(0, 0, 0, 0) url("../image/nav-header-bg-left.gif") no-repeat scroll left top;
    height: 22px;
    width: 100%;
}

.cat-listing .nav-header .nav-header-right {
    background: rgba(0, 0, 0, 0) url("../image/nav-header-bg-right.gif") no-repeat scroll right top;
    height: 22px;
    width: 100%;
}
span.products-header-delimeter {
    background: rgba(0, 0, 0, 0) url("../image/nav-header-delimeter.png") no-repeat scroll center center;
}

.category-inpage-navigation .cat-listing .nav-main-content .nav-main-content-left-corner {
    background: rgba(0, 0, 0, 0) url("../image/nav-content-bg-left.gif") no-repeat scroll left bottom;
    height: auto !important;
    min-height: 30px;
    width: 100%;
}

.category-inpage-navigation .cat-listing .nav-main-content .nav-main-content-right-corner {
    background: rgba(0, 0, 0, 0) url("../image/nav-content-bg-right.gif") no-repeat scroll right bottom;
    height: auto !important;
    min-height: 30px;
    width: 100%;
    margin-top: -10px;
}
.category-inpage-navigation ul li.current {
    background: #01aef0 none repeat scroll 0 0;
}
.category-inpage-navigation ul li {
    border-bottom: 1px solid #bbbbbb;
    display: block;
    float: left;
    text-align: center;
    text-indent: 5px;
    width: 90px;
}
.category-inpage-navigation ul li.separator {
    background: rgba(0, 0, 0, 0) url("../image/nav-content-separator.gif") repeat-y scroll center center;
    margin: 0;
    width: 2px;
}
.category-inpage-navigation ul li {
    border-bottom: 1px solid #bbbbbb;
    display: block;
    float: left;
    text-align: center;
    text-indent: 5px;
    width: 90px;
    height: auto !important;
}
.cat-listing{margin-top:10px;margin-bottom:10px;}
.category-inpage-navigation ul li.hover {
    background: #01aef0 none repeat scroll 0 0;
}
.category-inpage-navigation ul li.current a.current {
    color: #fff;
    font-weight: bold;
}
.category-inpage-navigation .cat-listing .nav-main-content a {
    color: #3f5563;
    height: 100%;
    text-decoration: none;
}
.category-inpage-navigation ul li.hover a {
    color: #fff !important;
    font-weight: bold;
}
.page-title-category h1 {
    color: #ea319d;
}
.page-title-category {
    height: auto !important;
    min-height: 27px;
    width: 100%;
}
.breadcrumbs {
    font-size: 11px;
    line-height: 1.25;
    margin: 0 0 5px;
}.breadcrumbs a {
    color: #425462;
}

.page-title-category h1 {
    font-family: Trebuchet MS !important;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    padding: 0;
}

.category-inpage-navigation.last {
    margin-bottom: 25px;
}

.category-products {
    margin-top: 5px;
}
.category-products h3 {
    color: #ec008c;
    margin: 0 0 4px;
}
.category-products h3.step-choose {
    float: left;
}
.category-products h3 {
    font-size: 14px;
    font-weight: normal;
}
.category-products .products-containe {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-bottom: 15px;
    min-height: 110px;
}
.products-containe {
    border: medium none !important;
    padding: 0;
    width: 100%;
}
.category-products .products-containe #products-list {
    padding: 10px 20px;
}
.category-products .products-containe ol.products-list {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    float: left;
    margin-bottom: 15px;
    padding: 0 !important;
    width: 100%;
}
.category-products .products-containe #products-list li {
    border: medium none;
    padding: 0;
}
.category-products .products-containe ol.products-list > li {
    clear: both;
    cursor: pointer;
    font-size: 18px;
    line-height: 15px;
    padding: 3px 10px !important;
}
.category-products .products-containe #products-list .product-shop {
    margin: 0;
}
.products-containe ol.products-list > li .product-shop {
    position: relative;
}


.category-products .products-containe #products-list .product-name {
    float: left;
    width: 400px;
}
.products-containe ol.products-list > li .product-name, ol.products-list > li .product-name a {
    display: block;
    font-weight: normal;
    position: relative;
    width: 100% !important;
    z-index: 10;
}
.products-list .product-name {
    color: #203548;
    font-size: 13px;
    margin: 0 0 5px;
}


.category-products .products-containe #products-list .product-name a {
    color: #415462;
    font-weight: normal;
    text-decoration: none;
}
.products-containe ol.products-list > li .product-name, ol.products-list > li .product-name a {
    display: block;
    float: left;
    position: relative;
    width: 100% !important;
    z-index: 10;
}
.products-containe ol.products-list > li a {
    color: #4f4c4d !important;
}

.category-products .products-containe #products-list .price-box {
    color: #da208d;
    float: right;
    margin: 0;
    text-align: right;
}
.products-containe ol.products-list > li .price-box {
    margin-right: 10px !important;
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 9;
}
/*TABLEAU CATEGORIE*/

.separator-big {
    padding: 0 7px;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    color: #6c6c6e;
    text-align: center;
    margin: 20px 10px;
    clear: both;
}
.separator-big h2{
font-size: 1.3em;
font-weight: normal;
margin: 0 0 5px;
line-height: 1.35;
color: #0a263c;
}
.separator-big span {
    display: block;
    position: relative;
    background: #fff;
    z-index: 10;
}
.separator-big span::before {
    right: .6em;
    margin-left: -50%;
}
.separator-big span::after {
    left: .6em;
    margin-right: -50%;
}
.separator-big span:after, .separator-big span:before {
    background-color: #c8c8c8;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.img-categorie:hover {
-webkit-transform:scale(1.1);
transform:scale(1.2);
overflow:hidden;
}
.img-categorie {
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.fa .fa-search{font-size: 1.7em;}

/*BAT*/
.loading{display:none;float: right;}
.content_order{visibility:hidden;}
.select-order {
    padding: 10px;
}
.block2 {
    border: 2px solid #e80088;
    margin: 0 0 15px;
}
.my-account .block2 h2:not(.dashboard-title-title) {
    font-family: Arial !important;
    text-transform: uppercase;
}
.select-order h2 {
    font-weight: bold !important;
    font-size: 1.3em !important;
}
.pink {
    color: #e80088 !important;
}
.padder {
    font-size: 16px;
    margin: 0px;
}
#table-upload #order-changer, #uploader-wrapper #order-changer {
    width: 80%;
    margin-left: 35px;
    border-color: #b6b6b6;
}
#uploader-wrapper select {
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
}
#table-upload select, #uploader-wrapper select {
    border-radius: 5px;
}
.dashboard-title-title {
    border: inherit !important;
}
#content_bat{padding:10px;border:1px solid #e1e1e1;min-height: 279px;}

.table-responsive thead {
    background: #F3F3F3;
}

.table-responsive thead > tr > th{
    border:none;
}
.table-responsive tbody > tr > td {
    background-color: #FFF;
    vertical-align: middle;
    color: #425462;
    padding: 5px;
}
/*BAT*/

.cat_name {
    padding: 10px 0px;
    background: none !important;
    text-align: center;
    color: #7f7f7f;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

.cat_price {
    color: #da208b;
     margin: 0 auto;
    font-style: italic;
     margin-top: 20px;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    line-height: 13px;
}
.cat_price span {
    color: #7f7f7f;
    font-size: 11px;
}

.nombre_oeillet{display:none;}
/*Limite sur mesure*/
.optionSizeQuestion {
    line-height: 36px;
    margin-left: 5px;
    display: inline-block;
}
.optionSizeQuestion .questionIco {
    background: url('../image/question-config.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 19px;
    display: inline-block;
    line-height: 36px;
    height: 36px;
    background-position: center center;
}

#input-option-largeur, #input-option-hauteur{
    width : 88% !important ;
    display: inline-block;
}
/*Change the size here*/
.tooltip-inner {
    max-width: 350px;
}
/*Limite sur mesure*/
.mettreCarrePrice {
    color: #18B4EA;
    text-align: center;
}
.mettreCarrePrice span {
    color: #6c6c6e !important;
    line-height: 18px;
}
.price-no-tax-label {
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}
.price{
	font-size: 24px;
	font-weight: bold;
}

/*modification*/
#storenavigationnew .universblue:hover:nth-child(1),#storenavigationnew .universblue.current{background:#e30613}
#storenavigationnew .universblue:hover:nth-child(2),#storenavigationnew .universblue.current{background:#e30613}
#storenavigationnew .universblue:hover:nth-child(3),#storenavigationnew .universblue.current{background:#e30613}
#storenavigationnew .universblue:hover:nth-child(4),#storenavigationnew .universblue.current{background:#e30613}
#storenavigationnew .universblue:hover:nth-child(5),#storenavigationnew .universblue.current{background:#e30613}
#storenavigationnew .universblue:hover:nth-child(6),#storenavigationnew .universblue.current{background:#e30613}
#storenavigationnew .universblue:hover:nth-child(7),#storenavigationnew .universblue.current{background:#e30613}
.universblue ul.storemenu_sub:nth-child(4){border:2px solid #e30613}

