<?php echo $header; ?>



<style>

.ul_titres{
  
  width: 100% ;
  
}

.li_titres{
  
  float: left;
  width: 14%;
  text-align:center;
      font-weight: bold;
    text-transform: uppercase;
  
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 100px;
    padding-top: 10px;
  
  background-color: #fafafa;
  
  
  
}

.li_titres a{
  color: #6c6c6c;
    text-decoration: none;
}

.li_titres a:hover{
    text-decoration: underline;
}


.bonjour{
      text-align: center;
}

.titre_compte{
    color: #EC008C;

}

.texte_1{
    height: 40px;
  padding-top: 5px;
}

.icones{
    font-size: 30px;
      width: 100%;
}

.texte_2{
  height: 150px;
  margin-top: 10px;
    border: 2px solid #dfdfdf;
}

.texte_3{
  height: 150px;
  margin-top: 50px;
    border: 2px solid #dfdfdf;
  margin-left:20px;
  padding: 0px;
}


.mes_infos
{
    height: 30px;
    padding: 10px;
  font-family: Arial !important;
    font-size: 1.2em;
   /* text-transform: uppercase; */
    color: #6c6c6c;
    font-weight: 600;
  color: #EC008C;
}

.icones_bas{
  font-size: 20px;
  width:50px;
}

.images{
  height:100%;
}



.menu_actif{
  background-color: #fff;
    border-bottom: none;
}

.div_gris{
  background: #F6F6F6;
}

.titre_gris{
  text-align: center;
    font-size: 13px;
    font-weight: 700;
  height: 35px;
  padding-top: 3px;
}

.zero{
      color: #f40088;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.zero_2{
      color: #f40088;
    font-weight: bold;
    text-align: center;
}


.content_gris{
   text-align: center;
       height: 70px;
}

.voir_details{
  height: 30px;
    text-align: center;
}

.div_230{
   height: 230px;
}   

.acheter{
      height: 30px;
    padding: 5px;
    text-align: center;
    background: #a3a3a3;
    margin-top: 10px;
    font-size: 13px;
    color: #FFF;
}

.contactez{
  margin-top: 50px;text-align: center;
}

.control-label {
text-align: left !important; 
}

#content{
      width: 98%;
}

.boutton_rose{
  padding: 10px;
    background-color: rgb(236, 76, 150);
    color: white;
    border-radius: 0px;
}

</style>
  
  

<div class="container">


<div class=" col-sm-12">
  <h2 class="titre_compte" >Mes commandes </h2>
</div>

<div class="col-sm-12 texte_1">
  <div class="bonjour col-sm-10"  >Bonjour <a href="index.php?route=account/account" > <?php echo $firstname ; ?> <?php echo $lastname; ?> </a> </div> 
  <div class="col-sm-2" > <a href="index.php?route=account/logout" >Se déconnecter </a> </div>
</div>


<ul class="ul_titres" >

  <li class="li_titres" >
  <a href="index.php?route=account/account" >
  <span class="icones glyphicon glyphicon-blackboard"></span> Tableau de bord</a>  </li>
  <li class="li_titres"> <a href="index.php?route=account/edit" > <span class="icones glyphicon glyphicon glyphicon-user"></span> Informations du compte</a></li>
  <li class="li_titres menu_actif"><a href="index.php?route=account/order" ><span class="icones glyphicon glyphicon-download-alt"></span> Mes commandes et factures</a></li>
  <li class="li_titres"> <a href="index.php?route=devis/devis/listedevis" > <span class="icones   glyphicon glyphicon-pencil"></span> Mes devis</a></li>
  <li class="li_titres"> <a href="index.php?route=account/account/gestionfichier" > <span class="icones glyphicon glyphicon-book"></span> Gestion de fichiers bon à tirer</a></li>
  <li class="li_titres"> <a href="index.php?route=account/avantage" ><span class="icones glyphicon glyphicon-thumbs-up"></span> Mes avantages</a></li>
  <li class="li_titres" style="border-right: 1px solid #dfdfdf;" > <a href="index.php?route=account/satisfactionclient" ><span class="icones glyphicon glyphicon-education"></span> Service satisfaction client</a></li>

</ul>



<style>

.bloc_commande_premier{
  
    padding: 15px;
    border: 2px solid #dddddd;
    box-shadow: 0 0 black;
    font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
  
}


.bloc_commande{
  
  height: 60px;
    padding: 15px;
    border: 2px solid #dddddd;
    box-shadow: 0 0 black;
    font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.entete{

  padding: 10px;
    height: 40px;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    float: left;
    width: 100%;
  
}


.rose{
  color: #ec4796;
    font-weight: bold;
}


.bouttongris{
  padding: 5px;
    background-color: rgb(169, 171, 167);
    color: white;
}


.bouttonvert{
  padding: 5px;
    background-color: #31B404;
    color: white;
}


.statut {
  height: 50px;
    padding: 20px;
}

.configuration {
  text-align:center;
  height: 30px;
  border: 1px solid #dddddd;
  padding: 3px;
  margin-top: 50px;
}

.boutton_rose_bloc        
{
  text-align: center;
    height: 50px;
    padding-top: 20px;
}


.bloc_bas{
  margin-top: 50px;
}

.detail{
   padding: 20px;
   display: none;
}   

</style>
  <div class="row">
  
  <?php echo $column_left; ?>
  

    <div id="content" class="col-sm-12">
    
      <?php if ( $orders ) { ?>
    <div class="entete" style="">
    <div style="float:left;"> <?php echo count($orders); ?> articles(s) </div>
      <div style="float:right;" > <a href="index.php?route=account/order/command_finished"> Commandes terminés / factures  </a> </div>
    </div>
    <div class="col-sm-12"  >
       <?php $i = 0 ; foreach ($orders as $order) { ?>
       
          <div class="col-sm-12 bloc_commande_premier">
                <div style="cursor: pointer;" class="col-sm-6" onclick=" $('#content_<?php echo $i ; ?>').toggle(); " id="detail_btn_<?php echo $i ; ?>">   N° commande : <span class="rose" > <?php echo $order['order_id']; ?> </span> </div>
                <div class="col-sm-3" >   <a href="index.php?route=account/order/reorderall&order_id=<?php echo $order['order_id'] ; ?>" class="bouttonvert"> > RENOUVELER </a> </div>
                <div class="col-sm-3" >   
					<span class="glyphicon glyphicon-print"> </span> 
					<a target="_blank" href="index.php?route=account/order/imprimer&order_id=<?php echo $order['order_id'] ; ?>"> IMPRIMER </a> 
				</div>
				
                <div id="content_<?php echo $i ; ?>" class="<?php echo ($i == 0)?"":"detail"?>" >		
					<div class="col-sm-6" >
                    <?php
					$code_fichier = "" ;	
					foreach( $order['produits'] as $produit) {
					if( $produit['code_fichier'] != "" )
						$code_fichier = $produit['code_fichier'] ;
					
					?>
                        <div class="col-sm-12">  
                          
                            <div class="col-sm-2" style="height:50px" > 
                              <a href="/index.php?route=product/product&product_id=<?php echo $produit['product_id'] ; ?>" > 
                              <?php if(  strlen( $produit['image'] ) ) { ?>
                              <img style="width:50px;height:50px;" src="/image/<?php echo $produit['image'] ; ?>" >
                              <?php } ?>
                              </a> 
                            </div>
                          
                           <div class="col-sm-8" style="text-align:left;">
                            <div class="col-sm-12" >
                            <a href="/index.php?route=product/product&product_id=<?php echo $produit['product_id'] ; ?>" > 
                            <?php echo $produit['name'] ; ?> </a>
                            </div>
                            <div class="col-sm-12" >
                            Quantité : <?php echo $produit['quantity'] ; ?>
                            </div>
                            <div class="col-sm-12" >
                            Prix : <?php echo $produit['price'] ; ?>
                            </div>
                            
                           </div>
                        </div>
                        <?php  }  ?>
                  
                  <div class="col-sm-12" >
					<button onclick=" $('#conf_<?php echo $i ; ?>').toggle(); " id="detail_btn_<?php echo $i ; ?>" class="configuration col-sm-12" style="background-color:white!important" >
                    Configuration de votre produit 
					</button>
                  </div>
				  
					<div class="col-sm-12 detail" id="conf_<?php echo $i ; ?>" >
							<?php if ($produit['option']) { 
							foreach ($produit['option'] as $option) { ?>
							  <label style="font-weight: bold;font-style: italic;"><?php echo $option['name']; ?></label>
							  <br>							  
							  <label style="padding-left: 10px;"><?php echo $option['value']; ?></small>	</label>						  
							  <br>
							<?php } 
							  } ?>
					</div>
				  
				   <?php
					if( $code_fichier != "" ) { ?>
					<div class="col-sm-12 boutton_rose_bloc" >
				    <!-- <a target="_blank" href="index.php?route=tool/upload/download&code=<?php //echo $code_fichier ; ?>" class="btn boutton_rose"> -->
                      <!-- Télécharger mes fichiers  -->
                    <!-- </a> -->
						<a href="index.php?route=account/account/gestionfichier&order_id=<?php echo $order['order_id'] ; ?>" class="btn boutton_rose">
						  Télécharger mes fichiers 
						</a>
					</div>
				  <?php } ?>		
                  <div class="clearfix"></div>
                </div>
                
                <div class="col-sm-6 statut" >
                  Statut : <span class="rose" > <?php echo $order['status']; ?> </span> 
                </div>
                
          <div class="col-sm-12 bloc_bas" >
          
            <div class="col-sm-4">
            <button onclick=" $('#detail_<?php echo $i ; ?>').toggle(); " id="detail_btn_<?php echo $i ; ?>" class="bouttongris col-sm-12" > DETAILS DE LA COMMANDE </button>
            </div>
            
          <div class="col-sm-4 col-sm-offset-4">
            <a href="index.php?route=account/order/reorderall&order_id=<?php echo $order['order_id'] ; ?>" class="bouttonvert col-sm-12"> > RENOUVELER </a>
          </div>
          
          </div>  


          <div class="col-sm-12 detail" id="detail_<?php echo $i ; ?>" >
          
            <div class="col-sm-4">
            
            <span class="rose"> Adresse de facturation </span> <br />
            <?php  echo $order['payment_address'] ; ?>
            </div>
            
            <div class="col-sm-4">
            <span class="rose"> Adresse de livraison </span> <br />
            <?php  echo $order['shipping_address'] ; ?>
            </div>
            
            <div class="col-sm-4">
            <span class="rose"> Mode de payement </span> <br />
            <?php  echo $order['payment_method'] ; ?> <br /><br />
            <?php foreach ( $order['totals'] as $total ) { ?>
              <div class="col-sm-9" >
                <?php echo $total['title']; ?>
               </div>    
               <div class="col-sm-3" style="text-align:right">
                <?php echo $total['text']; ?>
               </div>    
             </tr>
              <?php } ?>
            </div>
          
          </div>
          <div class="clearfix"></div>
        </div>
	   <div class="clearfix"></div>
		</div>
	   <?php
        $i++;
      } ?>
    </div>
          
    <div class="entete" style="">
      <div style="float:left;"> <?php echo count($orders); ?> articles(s) </div>
      
      <div style="float:right;" > <a href="index.php?route=account/order/command_finished"> Commande terminés / factures  </a> </div>
    </div>
    
      <?php } else { ?>
      <p>Vous n'avez aucune commande en cours,<a href="index.php?route=account/order/command_finished"> voir les commandes terminés / factures </a>.</p>
      <?php } ?>
    
      <?php echo $content_bottom; ?>
    
  </div>
 
 
 
</div>
<?php echo $footer; ?>
