.btn-circle {
  width: 30px ;
  height: 30px ;
  text-align: center ;
  padding: 6px 0 ;
  font-size: 12px ;
  line-height: 1.428571429;
  border-radius: 15px !important;
}
.btn-circle.btn-lg {
  width: 50px ;
  height: 50px ;
  padding: 10px 16px ;
  font-size: 18px ;
  line-height: 1.33 ;
  border-radius:25px !important;
}
.btn-circle.btn-xl {
  width: 70px ;
  height: 70px ;
  padding: 10px 16px ;
  font-size: 24px ;
  line-height: 1.33 ;
  border-radius:35px !important;
}
/*
.btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
}
.btn-circle.btn-lg {
  width: 50px !important;
  height: 50px !important;
  padding: 10px 16px !important;
  font-size: 18px !important;
  line-height: 1.33 !important;
  border-radius: !important;
}
.btn-circle.btn-xl {
  width: 70px !important;
  height: 70px !important;
  padding: 10px 16px !important;
  font-size: 24px !important;
  line-height: 1.33 !important;
  border-radius: !important;
}
*/