/**** CHECKOUT ****/
/* CART */
.cart .page-nav-buttons {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}
.cart .buttons-wrapper {
    display : table-row;
    vertical-align: middle;
}
.cart .buttons-wrapper > * {
    display : table-cell;
    vertical-align: middle;
}
.cart .cell.colspan1 {
    width : 25%;
}
.cart .cell.colspan2 {
    width : 75%;
}
.cart .cell {
    height : 100%;
    display : table-cell;
    vertical-align: top;
}
.cart .cell > * {
    vertical-align: middle;
}
.cart .cell * {
    height : 100%;
}
.cart .informative-headband {
    /*padding : 0 10px;*/
    background-color : #f3f3f3;
    font-size : 1.2em;
    font-style : italic;
    color: #6d6d6d;
}

.cart .checkout-types {
    width : auto !important;
    float : none !important;
    padding : 0 0 0 10px;
}
.cart .check {
    padding : 0 10px;
    color : #29b015;
    font-size : 1.5em;
    font-weight: bold;
}

.cart .boutton2,
.checkout-cart-index .boutton2,
.checkout-onepage-index .boutton2,
.checkout-onepage-success .boutton2 {
    height : auto;
    margin : 0 auto;
}

#avantages-shopping-cart .page-nav-buttons .checkout-types .boutton2 {
    width : 290px !important;
    margin: 0 0 0 -10px;
}

/* Cart */
.payment-page{    background:none !important;}
#avantages-shopping-cart{width: 100%;margin-top:5px;}
.discount, .input-box{width:auto !important;}
.cart .cart-table{background:none !important; margin-top: 10px}
#crediz-special-bg{background: none !important;width:auto;height: auto!important}
.discount{float:none !important; padding:0 !important;}
#discount-coupon-form{display: none;}
#discount-coupon-form label{font-weight: normal;}
#discount-coupon-form div{ margin-top: 5px;}
/*.subcart-wrapper{float:left;}
.coupon-subcart, .easycrediz-subcart{width:34%;}*/
.totals-subcart{width:32%;}
/*#discount-coupon-code{border:1px solid #dbdbdb;}*/
/*.easycrediz-subcart .inner-wrapper{border: 1px solid #d73fa4;}*/
.subcart-wrapper > div { margin:8px; clear: both !important}
.discount > h2{margin:0; padding:0 !important; background:#dbdbdb;text-align: center; color: #6d6d6d !important;}
.discount-form{padding: 10px; text-align: center; margin: 0 auto;}
.crediz-cart > h2{margin:0; padding: 0; background: #d73fa4}
.subcart-title{line-height:30px !important; font-size: 14px !important;text-align: center !important; text-transform: none !important;}
.subcart-crediz-separator{display: block;width: 90%; margin: 0 auto;height:0px; }
.subcart-crediz-separator:after{content: ""; display:block;border-bottom: 1px solid #d73fa4;}
.easycrediz-subcart form {float:none !important;}
.montant-text{text-align:right; /*text-transform: uppercase;*/ line-height: 34px; width: 152px; padding: 0 10px; background:#595959 !important;float:left; color:#fff; border-color: #595959 !important; font-size: 14px!important; }
/* .cart-totals .grand-total {margin-top: 30px;} */
.cart-totals .grand-total .price{line-height: 40px; padding: 0 10px;}
.cart-totals .price {text-align: right;}
.price{font-weight: bold!important; color: #bb0c1b !important;}
.pink-format-number{width: 20px; height: 20px;line-height:20px;text-align: center; color:#fff!important; border-radius: 100px !important; background-color:#d73fa4 ;}
.code-promo-text{text-transform: uppercase; font-style: italic;}
.easycreadiz-text{font-style: italic}
.product-name{font-size: 16px;}
.product-image{float:left; margin-right: 5px;}
.crediz-cart .subcart-title{color:#fff !important;}
.easycrediz-howto{text-transform:uppercase;float:none !important; color:#6d6d6d; font-style: italic; font-size: 18px; text-align: center;}
.easycrediz{font-style:italic; color: #d73fa4;}
.cart .cart-table thead{/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important;*/ }
.cart .cart-table thead th{ font-weight:normal !important;font-size:16px; background: none !important; border-right:none !important; border-left: none !important; border-bottom: none !important; color:#686868 !important;/*text-transform: uppercase !important;*/ height: 36px !important; line-height: 36px !important; background-color:#f3f3f3 !important; min-width: 100px !important;}
#obtenir-des-easycrediz a { color: #d73fa4 !important; text-decoration: underline;}
#obtenir-des-easycrediz {float:none !important;}
/*#avantages-shopping-cart .subtotals-separator {border: 1px solid #ededed;}*/
.subtotals-separator {width:100%;}
#avantages-shopping-cart .subtotals-separator > div {border: 1px solid #ededed; background: #ededed;}
.subtotals-separator > div {width:50%; height: 30px;}
.subtotals-separator table {width:100%; height: 143px;}
#shopping-cart-totals-table td {vertical-align: middle; line-height: 100%}
#avantages-shopping-cart #shopping-cart-totals-table td {border: 1px solid #ececec; border-collapse: collapse;}
#avantages-shopping-cart .subtotals-separator table tr {border : 1px solid #ededed; border-collapse: collapse;}
.subtotals-separator .a-right, .subtotals-separator .a-left {float:none !important;}
#avantages-shopping-cart .subtotals-separator td:first-child, #avantages-shopping-cart .subtotals-separator th:first-child {background:#ededed;}
.subtotals-separator td:first-child, .subtotals-separator th:first-child {width:150px; /*text-transform: uppercase;*/}
.subtotals-separator td, .subtotals-separator th {padding:10px;}
.grand-total .price {color:#595959; padding: 0 5px !important; text-align: right}
.cart-price .price {color: #2f2f2f !important;}
#shopping-cart-totals-table .price{color: #2f2f2f !important;}
.update-cart span{background: none !important; color:#595959 !important; text-decoration: underline;}
.update-cart .left {background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/update-cart.png) !important; width:20px !important; height:21px !important; display:inline-block;}
.page-nav-buttons span{background:none;}
.button-continue-shopping {font-size: 13px; width: 134px !important; /*border-radius: 5px;*/ height: 34px !important; text-align: center;background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/continuer-mes-achats.jpg) repeat-x top; color: #fff;}

.checkout-types{/*float:none !important;*/ width: auto !important;}
/* .checkout-types button{background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-pink.jpg) repeat-x top; padding: 0 15px !important; color: #fff; border-radius: 5px;line-height: 37px; text-align: center; height:37px !important; line-height: 37px !important; font-size: 18px !important }
.checkout-types button span.left, .checkout-types button span.right{width:0px !important; height: 37px !important;}
.checkout-types button span.left{background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-pink.png) !important;}
.checkout-types button span.right{background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-pink.png) !important;}
.checkout-types button span{font-size: 18px !important; color:#fff !important; text-align: center !important; line-height: 37px !important;} */
/*.checkout-types button {display: table !important; border-radius: 4px;  border: none !important; background: none !important; cursor: pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;}
.checkout-types button span.left {background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-pink.png) !important; background-position: left center !important}
.checkout-types button span.right {background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-pink.png) !important; background-position: right center !important;}
.checkout-types button span.left, .checkout-types button span.right{width: 4px !important; background-repeat: no-repeat !important; padding: 0px !important;}
.checkout-types button span {font-size: 17px !important;background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-pink.jpg); color: #fff !important; text-align: center !important; height:37px !important; padding: 0 20px; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important}
*/
#back-to-my-account  {
display: table !important; border-radius: 4px;  border: none !important;  cursor: pointer !important;
text-align: center !important; vertical-align: top !important; height:37px !important;
border: 1px solid #ff55b8;color: #fff!important;
background: #f60492\9;
position: relative!important;
margin: 0 auto;
clear: both;
display: block!important;
right: 0;
background-image: -ms-linear-gradient(top left, #ff55b8 0%, #f60492 100%);
background-image: -webkit-gradient(linear,left top, left bottom,from(#ff55b8),to(#f60492));
background-image: -webkit-linear-gradient(top,#ff55b8,#f60492);
background-image: -moz-linear-gradient(top,#ff55b8,#f60492);
background-image: -o-linear-gradient(top,#ff55b8,#f60492);
background-image: linear-gradient(to bottom right, #ff55b8 0%, #f60492 100%);
transition: color 0.5s;font-weight: normal;font-size: 11px;-webkit-user-select: none;-moz-user-select: none; -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-o-border-radius: 5px;}
/*#avantages-shopping-cart .checkout-types button:hover{
background: #ff55b8\9;
background-image: -ms-linear-gradient(top left, #f60492 0%, #ff55b8 100%);
background-image: -webkit-gradient(linear,left top, left bottom,from(#f60492),to(#ff55b8));
background-image: -webkit-linear-gradient(top,#f60492,#ff55b8);
background-image: -moz-linear-gradient(top,#f60492,#ff55b8);
background-image: -o-linear-gradient(top,#f60492,#ff55b8);
background-image: linear-gradient(to bottom right, #f60492 0%, #ff55b8 100%);
}*/
/*#avantages-shopping-cart .checkout-types button, .checkout-types button {display: table !important; border-radius: 4px;  border: none !important;  cursor: pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;border: 1px solid #ff55b8;color: #fff!important;background-image: -webkit-gradient(linear,left top, left bottom,from(#ff55b8),to(#f60492));background-image: -webkit-linear-gradient(top,#ff55b8,#f60492);background-image: -moz-linear-gradient(top,#ff55b8,#f60492);background-image: -o-linear-gradient(top,#ff55b8,#f60492);background-image: linear-gradient(top,#ff55b8,#f60492);transition: color 0.5s;font-weight: normal;font-size: 11px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background: #f60492; -o-border-radius: 5px;}
#avantages-shopping-cart .checkout-types button:hover,.checkout-types button:hover{background: #ff55b8;background-image: -webkit-gradient(linear,left top, left bottom,from(#f60492),to(#ff55b8));background-image: -webkit-linear-gradient(top,#f60492,#ff55b8);background-image: -moz-linear-gradient(top,#f60492,#ff55b8);background-image: -o-linear-gradient(top,#f60492,#ff55b8);background-image: linear-gradient(top,#f60492,#ff55b8);}
#avantages-shopping-cart .checkout-types button span.left , .checkout-types button span.left{background-image: none !important; background-position: left center !important;}
#avantages-shopping-cart .checkout-types button span.right, .checkout-types button span.right {background-image: none!important; background-position: right center !important;}
#avantages-shopping-cart .checkout-types button span.left, .checkout-types button span.right, .checkout-types button span.left,.checkout-types button span.right {width: 4px !important; background-repeat: no-repeat !important; padding: 0px !important;}
#avantages-shopping-cart .checkout-types button span, .checkout-types button span {font-size: 17px !important;background-image: none; color: #fff !important; text-align: center !important; height:37px !important; padding: 0 20px; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important;}*/

#shopping-cart-table tbody > tr.last {display: none;}

#checkout-step-shipping_method .eas-content {
min-height: 250px!important;
}

#crediz-special-bg{background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/pastille-easyflyer-easycrediz.png) !important; background-position: 10px 10px !important; float:none !important; background-repeat: no-repeat !important; height:57px !important; padding: 10px 10px 0 !important;}
.crediz-explicit{width: 58%; float:right;}
.crediz-explicit > div {width: auto !important; margin: 0 !important;}
.crediz-cart .button-holder { padding: 0 5px 5px; }
.crediz-cart .shadow-separator { margin: 5px auto !important; }
.crediz-numb, .crediz-text{display: inline-block !important; float:none !important; color: #e23297; font-style: italic;}
#checkoutSteps {max-width: 623px !important;min-width: 600px;float: left !important;}
#checkoutSteps li{margin-top:0 !important;}
#checkoutSteps li.section{min-height:95px!important;}
.opc .step{max-width: 623px !important; min-width: 600px; float: left !important;}
#checkoutSteps #opc-login #checkout-step-login { max-width: 807px !important; float: none !important; margin: 0 auto !important;}
/* td.last {border-right:none !important;}
tr.last td {border: none !important;} */

#btn-update-cart-target{display: none !important;}
.cart .update-cart {float:none !important;margin:0 auto;}
.update-cart-box{text-align: center !important;}

#clean-crediz{width:17px !important; text-indent:-9999px; height:17px !important; line-height: 20px !important; /*margin: 4px 4px 0 0 !important;*/ margin: 0 10px 0 0!important;}
#clean-crediz span {background-size: 4px 20px !important; height: 20px !important; line-height: 20px !important;font-size: 18px; }
#clean-crediz .middle{padding: 0 12px !important;}

.crediz-panier-input-row{margin: 5px auto !important;}
.btn-remove2{
    background-image: url("/skin/frontend/default/default/images/assets/recycle-bin.png") !important;
    background-size: 16px auto;
}
div.price {font-size: 18px !important;}
/*#discount-coupon-code button {float:right;}*/
.opc .buttons-set { /*padding: 0 15px !important;*/ /*width: 953px !important;*/ width: 100% !important; text-align: center !important;}
.opc .buttons-set2{width: 953px !important;}
.product-content .shortdescription {max-width: 300px;}
.product-content {margin-left: 75px;}
.voiture-png-bg {display:none !important;}

.cart-totals td {font-size:14px;}
.cart-totals .grand-total .montant-text {font-size:14px;}
.cart-totals .grand-total .price {font-size:18px;}

.update-coupon {float: none !important;margin: 0px auto;margin-top: 10px;}
.update-coupon .left {background: url('/skin/frontend/default/default/images/easyflyer/checkout/cartpage/cross-gray.png') no-repeat scroll 0% 0% transparent !important;width: 16px !important;height: 16px !important;display: inline-block;}
.update-coupon span {background: none repeat scroll 0% 0% transparent !important;color: #6c6c6e !important;text-decoration: underline; line-height: 12px; padding: 0px !important;}
#billing-new-address-form  .cart-button-pink{
display: table !important;
/*border-radius: 4px;*/
border: none !important;
cursor: pointer !important;
text-align: center !important;
vertical-align: top !important;
height: 37px !important;
}
#output-div-orderfiles .cart-button-pink, #output-div-orderfiles .buttons-set .success-upload-btn{
position: relative!important;
margin: 0 auto;
clear: both;
display: block!important;
text-align: center!important;
right: 0;
}
#billing-new-address-form  .cart-button-pink span{height:auto!important; font-size:14px!important;}
/*
 * Buttons
 */
/* Pink */
.cart-button-pink {
position:absolute;
border-radius: 0px;
width:290px;
right:-280px;
 text-align:center;
border: none !important;
 cursor: pointer !important;
text-align: center !important;
vertical-align: middle !important;
height:37px !important;
border: 1px solid #ff55b8;
color: #ffffff!important;
background: #f60492;
display:block;
background-image: -webkit-gradient(linear,left top, left bottom,from(#f60492),to(#ff55b8));
background-image: -webkit-linear-gradient(top,#f60492,#ff55b8);
background-image: -moz-linear-gradient(top,#f60492,#ff55b8);
background-image: -o-linear-gradient(top,#f60492,#ff55b8);
background-image: -ms-linear-gradient(top left, #f60492 0%, #ff55b8 100%);
background-image: linear-gradient(to bottom right, #f60492 0%, #ff55b8 100%);
transition: color 0.5s;
font-weight: normal;
font-size: 11px;
/*-webkit-user-select: none;
-moz-user-select: none;
-moz-border-radius: 5px;-webkit-border-radius: 5px;
border-radius: 5px;*/
}
.cart-button-pink:hover{background: #ff55b8;background-image: -webkit-gradient(linear,left top, left bottom,from(#ff55b8),to(#f60492));background-image: -webkit-linear-gradient(top,#ff55b8,#f60492);background-image: -moz-linear-gradient(top,#ff55b8,#f60492);background-image: -o-linear-gradient(top,#ff55b8,#f60492);background-image: linear-gradient(top,#ff55b8,#f60492);}
.cart-button-pink .left { background-position: none !important}
.cart-button-pink .right { background-position: none !important;}
.cart-button-pink .left, .cart-button-pink .right {width: 4px !important; background-repeat: no-repeat !important; padding: 0px !important; min-width:4px;}
.cart-button-pink span {font-size: 18px !important;color: #fff !important; text-align: center !important;background: none !important; height:37px !important; padding: 0 20px; font-weight: bold !important; vertical-align: middle !important; line-height:37px;white-space: nowrap !important;}

/* Orange */
.cart-button-orange { /*display: table !important;*/ border-radius: 4px; border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; /*height:37px !important;*/}
.cart-button-orange .left {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-orange.png) !important; background-position: left center !important;}
.cart-button-orange .right {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-orange.png) !important; background-position: right center !important;}
.cart-button-orange .left, .cart-button-orange .right {width:4px !important; min-width:4px; background-repeat: no-repeat !important; padding: 0px !important; float:none !important;}
.cart-button-orange span{font-size: 1.3em;background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-orange.png); color:#fff !important; text-align: center !important; /*height:37px !important;*/ padding: 0 10px ; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; /*width:185px*/}
.cart-button-orange-codePromo{display: table !important; border-radius: 4px;border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;}
.cart-button-orange-codePromo span{font-size: 1.3em;background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-orange.png); color:#fff !important; text-align: center !important; height:37px !important;padding: 0 20px ;font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; width:185px;}

/* Gray */
.cart-button-gray {/*display: table !important;*/ border-radius: 4px; border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:100% !important;}
.cart-button-gray .left {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-gray.png) !important; background-position: left center !important;}
.cart-button-gray .right {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-gray.png) !important; background-position: right center !important;}
.cart-button-gray .left, .cart-button-gray .right {width:3px !important; background-repeat: no-repeat !important; padding: 0px !important; float:none !important;}
.cart-button-gray span{font-size: 1.3em; background: #adadad !important;/*background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-gray.jpg);*/ color:#fff !important; text-align: center !important; height:37px !important; padding: 0 40px ; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; border-radius: 0px !important; width: 147px;}
.cart-button-gray2{border: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-gray.jpg);}
.cart-button-gray2 span{font-size: 1.3em;background: #adadad !important;color:#fff !important; text-align: center !important; height:37px !important;padding: 0 20px ;font-weight: bold !important;  vertical-align: middle !important; white-space: nowrap !important; width:185px;}

/* Dark Gray */
.cart-button-dark-gray {display: table !important; border-radius: 4px;  border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:23px !important; width:auto !important;}
.cart-button-dark-gray .left { background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-dark-gray.png) !important; background-position: left center !important;}
.cart-button-dark-gray .right { background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-dark-gray.png) !important; background-position: right center !important;}
.cart-button-dark-gray .left, .cart-button-dark-gray .right { width:4px !important; background-repeat: no-repeat !important; padding: 0px !important; background-size: 4px 100% !important;}
.cart-button-dark-gray span {font-size: 1.3em; background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-dark-gray.jpg); color:#fff !important; text-align: center !important; height:23px !important; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; padding:0 7px; background-size: 1px 100%; line-height: auto !important;}

.cart-button-pink-special {height: 50px !important; display: table !important; border-radius: 4px; border:none !important; background: none repeat scroll 0% 0% #F10C81 !important; cursor: pointer !important; text-align: center !important; vertical-align: top !important; width: auto !important;}
.cart-button-pink-special > span {background: none !important; height:50px !important; padding: 5px 0 !important; font-size: 1.3em;}
.cart-button-pink-special span .small {font-size: 10px !important; color: #fff !important; text-align: center !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; padding:0 7px; line-height: auto !important;}
.cart-button-pink-special .left { background:none !important; background-position: left center !important;}
.cart-button-pink-special .right { background:none !important; background-position: right center !important;}
.cart-button-pink-special .left, .cart-button-pink-special .right { width:4px !important; background-repeat: no-repeat !important; padding: 0px !important; background-size: 4px 100% !important;}
/*
 * Menu
 */

.cart-menu-list-puce{background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/menu-inactive.png);
	background-size: 41px;background-repeat: no-repeat;display: inline-block;width: 43px;height:56px;line-height: 50px;font-size: 2.5em;text-align: center;text-indent: 15px;color:#fff;margin-right: 5px;float:left;}
.cart-menu-list-text{font-size: 1.3em;color:#c5c5c5;max-width: 120px; display: inline-block;}
.cart-menu a:hover .cart-menu-list-puce, .cart-menu-list-puce.active, .cart-menu a.active .cart-menu-list-puce{background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/menu-active.png);
}
.cart-menu a:hover .cart-menu-list-text, .cart-menu a.active .cart-menu-list-text{color: #ea5b0c;}
.cart-menu a {text-decoration: none !important; display: block;}
.cart-menu li {float:left;margin-left: 10px;}
.cart-menu li:first-child{margin-left:0px;}
.cart-menu {margin-top:45px; margin-bottom: 25px;}
.eas-content, .eas-content-bottom-right, .eas-content-bottom-left {border: none !important;background:none !important;}
.cart-login-form-box > h3{text-align: center; height:35px;line-height:35px; color:#fff;}
.connexion-form > h3{background:#595959;}
.register-form > h3{background: #bb0c1b;}
.register-form{border: 1px solid #bb0c1b; height: 290px;}
.connexion-form {border: 1px solid #595959; height: 290px;}
.register-form-content, .connexion-form-content{margin: 10px;}
.account-advantages{margin-left: 13px;}

.eas-content-border-left, .eas-content-border-right, .eas-content-border-top, .eas-content-border-bottom {background: none !important; border: none !important;}
.block-progress {margin: 0px 0 10px 0 !important;}

/*
 * Login
 */

.account-advantages li{color:#bb0c1b !important; list-style-type: disc;}
/*.connexion-form-content button.cart-button-orange span,.register-form-content button.cart-button-pink span {width: 60%;}*/
.connexion-form-content button.cart-button-orange, .register-form-content button.cart-button-pink {min-width: 50%;margin: 0 auto;}
#checkout-step-login .button-pink {width: 100%; margin-top: 15px; position: static; margin-left: 0;}
.forgot-password {color:#595959 !important; font-style: italic !important; text-decoration: underline !important;}
p.required, .required em {color: #c1c1c1 !important;}
/*.connexion-form-content .form-list, .connexion-form-content input.input-text {width: 245px !important;}*/
/*
 * Sidebar
 */

#fake-sidebar-wrapper {float:right; max-width: 300px; width: auto; margin: 0 5px; min-width: 290px;}
#fake-sidebar-wrapper .fake-sidebar  h2 {background: url(http://adprint.mg/image/catalog/button-orange.png) right center !important; text-align: left; text-transform: uppercase; color: #fff; padding: 5px 15px; }
.addresses-information {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) right center !important;*/ max-height: 28px;color:#686868 !important; /*padding: 2px 25px;*/}
.billing-information label {float:none !important;}
.form-list .field{width: auto !important;}
.fake-sidebar h1, .fake-sidebar h2, .fake-sidebar h3 {margin:0px !important;}
/*
 * Payment
 */

.sp-methods-choose {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important;*/ /*text-transform: uppercase !important;*/ /*padding: 0px 10px !important;*/ height:28px !important; line-height: 28px !important; max-height: 28px !important; font-size: 18px !important;}
.sp-method-devis-wrapper h2 {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important;*/ /*text-transform: uppercase !important;*/ /*padding: 0px 10px !important;*/ height:28px !important; /*line-height: 28px !important;*/ max-height: 28px !important; font-size: 26px !important;}
.sp-methods-info {font-size: 15px !important; color: #000 !important; /*margin-top: 15px !important;*/ display: block !important; font-style: italic; width: 100% !important}
.sp-methods-info-sous-info{font-size: 14px !important; color: #575757 !important;font-style: italic;}
.sp-methods-info-sous-info label{font-weight: normal!important;}
.sp-method-devis {background: none !important; color:#e33096 !important; font-style: italic; padding-top: 0px !important; padding-bottom: 5px;}
.sp-methods-table {margin: 10px auto !important; width: 100% !important}
.sp-methods-table tr{border-color: rgba(0, 0, 0, .1);border-style: solid;border-width: 1px 0px 1px 0px;-webkit-background-clip: padding-box; /* for Safari */background-clip: padding-box;}
.sp-methods-table div input{display: inline-block;vertical-align: middle;    margin: 0px !important;}
.sp-methods-table div label{display: inline-block;vertical-align: middle;margin: 0px !important;color: #575757 !important;font-style: normal !important;width:95%;}
.sp-method-devis-info {/*padding: 15px 0px !important; border-top: 1px solid #dbdbdb;*/ margin: 0px !important;font-weight: normal !important;color: #2b2929 !important;font-size: 12px !important;font-style: italic; }
.sp-method-devis-wrapper .middle {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/devis-wrapper.jpg) repeat-x top !important;*/ display: inline-block; /*height: 162px;*/ margin: 15px 0px;}
.sp-method-devis-wrapper .left {}
.sp-method-devis-wrapper .right {}
.sp-method-devis-wrapper .left, .sp-method-devis-wrapper .right {width: 4px !important; display: inline-block; height:162px !important;}
/*#checkout-payment-method-load .sp-methods-table label {color:#e33096 !important;}
#checkout-payment-method-load .sp-methods-table label span {color:#2b2929!important;}*/

.p_method_img{margin: 0px !important;display: inline-block;width: 70%;}
.p_method_title{font-weight: bold;font-size: 20px !important;padding: 0px !important;display: inline-block !important;color: #575757 !important;}
.p_method_label div{ display: inline-block;vertical-align: middle;}
.p_method_desc1{display: inline-block !important; padding-top: 5px;padding: 0px !important;}
.p_method_desc2{ color: #bb0c1b !important;font-style: italic;margin-top: -6px;padding: 0px !important;display: block !important;}
.image{ width: 34%;text-align: center;}
#p_method_label{padding-left: 8px;display: inline; color: #bb0c1b !important;font-style: italic !important;font-size: 16px !important;top: 0px!important;}
#conf-condi{width: 953px !important;padding: 10px 0px;}
#cq-logo{display: inline-block;float: left;vertical-align: middle;}
#cq-content{padding-left: 60px;}
#cq-label{ color: #bb0c1b !important;font-style: italic !important;font-size: 16px !important;}
.ccleft{width: 49%;box-sizing: border-box;float:left;}
.ccleft h2{padding: 10px 0px;}
.ccleft button{display: block;margin: 0 auto;float: left;}
.ccright{ width: 51%;float:left;display: inline-block;box-sizing: border-box;}
.ccright label{ font-size: 13px!important;font-weight: normal;margin: 0px 0px 0px 50px !important;padding: 0px !important;vertical-align: text-top;}
.ccright label a{color:#bb0c1b;text-decoration: underline;}
.ccright img{display: block;margin: 0px auto !important;}
.ccright button{display: block; margin: 0 auto;width: 230px;}
.paiement-securise{ border-color: rgba(0, 0, 0, .1); border-style: solid;border-width: 1px 0px 0px 0px;-webkit-background-clip: padding-box; /* for Safari */background-clip: padding-box; width: 953px;padding: 15px 0px;}
#ps-sous-title{color: #bb0c1b;font-style: italic;font-weight: bold;font-size: 16px;padding-bottom: 14px;}
#ps-content{text-align: justify;font-size: 14px;}
#ps-b2b-pink{color: #bb0c1b;font-weight: bold;text-decoration: underline;}
#cg-popup{ background-color: white;
    border: 1px solid black;
    display: none;
    height: 60%;
    left: 25%;
    padding: 16px;
    position: fixed;
    top: 25%;
    width: 50%;
    z-index: 1002;}
#cg-title{margin-bottom: 30px;}
#cg-title a{float: right;}
#cg-content{ overflow: auto; height: 93%;}
#cg-title #left{width: 90%;box-sizing: border-box;float:left;}
#cg-title #right{width: 10%;float:left;display: inline-block;box-sizing: border-box;}
#cg-title #right a{float:right;padding-top: 5px;margin-right: 3px;}
#avantages-shopping-cart #left{width: 47%;box-sizing: border-box;float:left;margin: 0px 15px 0px 5px;}
#avantages-shopping-cart #right{width: 50%;float:left;display: inline-block;box-sizing: border-box;}
#avantages-shopping-cart button{text-align: center;}
#left table{width: 100% !important;border: 1px solid rgba(0,0,