.ssl {
  display:block;
  float:left;font-size:35px;
  /*background: #EFEFFE;
  background: url('http://localhost/adprint_2.3.0.2/upload/catalog/view/theme/default/image/menu-sprites.png') no-repeat -43px 0px;
  /*background: url('http://localhost/adprint_2.3.0.2/upload/catalog/view/theme/default/image/menu-sprites.png') no-repeat 0px 0px;*/
  padding: 10px;
  border-radius: 25px;

  color:#fff;
    line-height: 50px;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;
    text-indent: 15px;
}

.ssl p{
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: -3px;
}
.ssl .active{
    background-position: 0px 0px ;
}
/*
.step .ssl{
  background: red;
  background: url('http://localhost/adprint_2.3.0.2/upload/catalog/view/theme/default/image/menu-sprites.png') no-repeat -43px 0px;
  margin-top: 10px;
  margin-bottom: 10px
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 7px 0px 5px;
  padding: 0 auto;
}
*/



.step .ssl .disabled{
  background: #ccc;
  /* background: url('http://adprint-dev.com/image/cache/catalog/soft_checkout/menu-sprites.png') no-repeat -43px 0px; */
  margin-top: 0px;
  margin-bottom: 10px
  margin-left: 0px;
  margin-right: -3px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 5px;
}

.step .ssl .active{
  background: #bb0c1b;
  /* background: url('http://adprint-dev.com/image/cache/catalog/soft_checkout/menu-sprites.png') no-repeat 0px 0px; */
  margin-top: 0px;
  margin-bottom: 10px
  margin-left: 0px;
  margin-right: -3px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 5px;
}



/*
.block-progress .numbers {
    position : absolute;
    width : 42px;
    height : 56px;
    background : url('http://localhost/adprint_2.3.0.2/upload/catalog/view/theme/default/image/menu-sprites.png') no-repeat -43px 0px;
    color:#fff;
    line-height: 50px;
    font-size: 2.5em;
    text-align: center;
    text-indent: 15px;
}
.block-progress .active .numbers {
    background-position: 0px 0px ;
}
.block-progress .active .content {
     color:#ea5b0c;
}

*/





.ssl-text {
  display:block;
  float:right;
  padding:10px 10px 0 10px;
  color:#555;
  text-align:center;
}

.step {
  /*background:#eee;*/
  font-size:1em;
  color:#ccc;
  padding:15px;
  font-size:1.25em;
}

.step.active {
  color:#bb0c1b;
}

.step .caret {
  position:absolute;
  margin:0;color:#eee;
  opacity:1.0;
}

.step .caret.right {
  right:1px;
  top:0px;
  border-top:27px solid transparent;
  border-bottom:28px solid transparent;
  border-left:30px solid;
}

.step .caret.bottom {
  bottom:-15px;
  left:35%;
  border-top:15px solid;
  border-right:50px solid transparent;
  border-left:50px solid transparent;
}
@media(max-width:991px) 
{  
  .step {
    text-align:center;
    margin-top:20px;
    height:80px;
  }  
  .step .caret.right {
    top:20px;
    border-top:40px solid transparent;
    border-bottom:40px solid transparent;
  }
}
@media(max-width:767px) 
{  
  .step {
    height:auto;
  }  
  .ssl-container {
    float:none;
    margin:0 auto;
    width:220px;
  }
}
@media(min-width:768px) 
{  
  .step {
    margin-right:20px;
  }
}
