/**** CHECKOUT ****/
/* CART */
.cart .page-nav-buttons {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}
.cart .buttons-wrapper {
    display : table-row;
    vertical-align: middle;
}
.cart .buttons-wrapper > * {
    display : table-cell;
    vertical-align: middle;
}
.cart .cell.colspan1 {
    width : 25%;
}
.cart .cell.colspan2 {
    width : 75%;
}
.cart .cell {
    height : 100%;
    display : table-cell;
    vertical-align: top;
}
.cart .cell > * {
    vertical-align: middle;
}
.cart .cell * {
    height : 100%;
}
.cart .informative-headband {
    /*padding : 0 10px;*/
    background-color : #f3f3f3;
    font-size : 1.2em;
    font-style : italic;
    color: #6d6d6d;
}

.cart .checkout-types {
    width : auto !important;
    float : none !important;
    padding : 0 0 0 10px;
}
.cart .check {
    padding : 0 10px;
    color : #29b015;
    font-size : 1.5em;
    font-weight: bold;
}

.cart .boutton2,
.checkout-cart-index .boutton2,
.checkout-onepage-index .boutton2,
.checkout-onepage-success .boutton2 {
    height : auto;
    margin : 0 auto;
}

#avantages-shopping-cart .page-nav-buttons .checkout-types .boutton2 {
    width : 290px !important;
    margin: 0 0 0 -10px;
}

/* Cart */
.payment-page{    background:none !important;}
#avantages-shopping-cart{width: 100%;margin-top:5px;}
.discount, .input-box{width:auto !important;}
.cart .cart-table{background:none !important; margin-top: 10px}
#crediz-special-bg{background: none !important;width:auto;height: auto!important}
.discount{float:none !important; padding:0 !important;}
#discount-coupon-form{display: none;}
#discount-coupon-form label{font-weight: normal;}
#discount-coupon-form div{ margin-top: 5px;}
/*.subcart-wrapper{float:left;}
.coupon-subcart, .easycrediz-subcart{width:34%;}*/
.totals-subcart{width:32%;}
/*#discount-coupon-code{border:1px solid #dbdbdb;}*/
/*.easycrediz-subcart .inner-wrapper{border: 1px solid #d73fa4;}*/
.subcart-wrapper > div { margin:8px; clear: both !important}
.discount > h2{margin:0; padding:0 !important; background:#dbdbdb;text-align: center; color: #6d6d6d !important;}
.discount-form{padding: 10px; text-align: center; margin: 0 auto;}
.crediz-cart > h2{margin:0; padding: 0; background: #d73fa4}
.subcart-title{line-height:30px !important; font-size: 14px !important;text-align: center !important; text-transform: none !important;}
.subcart-crediz-separator{display: block;width: 90%; margin: 0 auto;height:0px; }
.subcart-crediz-separator:after{content: ""; display:block;border-bottom: 1px solid #d73fa4;}
.easycrediz-subcart form {float:none !important;}
.montant-text{text-align:right; /*text-transform: uppercase;*/ line-height: 34px; width: 152px; padding: 0 10px; background:#f59201 !important;float:left; color:#fff; border-color: #f59201 !important; font-size: 14px!important; }
/* .cart-totals .grand-total {margin-top: 30px;} */
.cart-totals .grand-total .price{line-height: 40px; padding: 0 10px;}
.cart-totals .price {text-align: right;}
.price{font-weight: bold!important; color: #EC0090 !important;}
.pink-format-number{width: 20px; height: 20px;line-height:20px;text-align: center; color:#fff!important; border-radius: 100px !important; background-color:#d73fa4 ;}
.code-promo-text{text-transform: uppercase; font-style: italic;}
.easycreadiz-text{font-style: italic}
.product-name{font-size: 16px;}
.product-image{float:left; margin-right: 5px;}
.crediz-cart .subcart-title{color:#fff !important;}
.easycrediz-howto{text-transform:uppercase;float:none !important; color:#6d6d6d; font-style: italic; font-size: 18px; text-align: center;}
.easycrediz{font-style:italic; color: #d73fa4;}
.cart .cart-table thead{/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important;*/ }
.cart .cart-table thead th{ font-weight:normal !important;font-size:16px; background: none !important; border-right:none !important; border-left: none !important; border-bottom: none !important; color:#686868 !important;/*text-transform: uppercase !important;*/ height: 36px !important; line-height: 36px !important; background-color:#f3f3f3 !important; min-width: 100px !important;}
#obtenir-des-easycrediz a { color: #d73fa4 !important; text-decoration: underline;}
#obtenir-des-easycrediz {float:none !important;}
/*#avantages-shopping-cart .subtotals-separator {border: 1px solid #ededed;}*/
.subtotals-separator {width:100%;}
#avantages-shopping-cart .subtotals-separator > div {border: 1px solid #ededed; background: #ededed;}
.subtotals-separator > div {width:50%; height: 30px;}
.subtotals-separator table {width:100%; height: 143px;}
#shopping-cart-totals-table td {vertical-align: middle; line-height: 100%}
#avantages-shopping-cart #shopping-cart-totals-table td {border: 1px solid #ececec; border-collapse: collapse;}
#avantages-shopping-cart .subtotals-separator table tr {border : 1px solid #ededed; border-collapse: collapse;}
.subtotals-separator .a-right, .subtotals-separator .a-left {float:none !important;}
#avantages-shopping-cart .subtotals-separator td:first-child, #avantages-shopping-cart .subtotals-separator th:first-child {background:#ededed;}
.subtotals-separator td:first-child, .subtotals-separator th:first-child {width:150px; /*text-transform: uppercase;*/}
.subtotals-separator td, .subtotals-separator th {padding:10px;}
.grand-total .price {color:#f59201; padding: 0 5px !important; text-align: right}
.cart-price .price {color: #2f2f2f !important;}
#shopping-cart-totals-table .price{color: #2f2f2f !important;}
.update-cart span{background: none !important; color:#f59201 !important; text-decoration: underline;}
.update-cart .left {background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/update-cart.png) !important; width:20px !important; height:21px !important; display:inline-block;}
.page-nav-buttons span{background:none;}
.button-continue-shopping {font-size: 13px; width: 134px !important; /*border-radius: 5px;*/ height: 34px !important; text-align: center;background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/continuer-mes-achats.jpg) repeat-x top; color: #fff;}

.checkout-types{/*float:none !important;*/ width: auto !important;}
/* .checkout-types button{background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-pink.jpg) repeat-x top; padding: 0 15px !important; color: #fff; border-radius: 5px;line-height: 37px; text-align: center; height:37px !important; line-height: 37px !important; font-size: 18px !important }
.checkout-types button span.left, .checkout-types button span.right{width:0px !important; height: 37px !important;}
.checkout-types button span.left{background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-pink.png) !important;}
.checkout-types button span.right{background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-pink.png) !important;}
.checkout-types button span{font-size: 18px !important; color:#fff !important; text-align: center !important; line-height: 37px !important;} */
/*.checkout-types button {display: table !important; border-radius: 4px;  border: none !important; background: none !important; cursor: pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;}
.checkout-types button span.left {background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-pink.png) !important; background-position: left center !important}
.checkout-types button span.right {background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-pink.png) !important; background-position: right center !important;}
.checkout-types button span.left, .checkout-types button span.right{width: 4px !important; background-repeat: no-repeat !important; padding: 0px !important;}
.checkout-types button span {font-size: 17px !important;background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-pink.jpg); color: #fff !important; text-align: center !important; height:37px !important; padding: 0 20px; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important}
*/
#back-to-my-account  {
display: table !important; border-radius: 4px;  border: none !important;  cursor: pointer !important;
text-align: center !important; vertical-align: top !important; height:37px !important;
border: 1px solid #ff55b8;color: #fff!important;
background: #f60492\9;
position: relative!important;
margin: 0 auto;
clear: both;
display: block!important;
right: 0;
background-image: -ms-linear-gradient(top left, #ff55b8 0%, #f60492 100%);
background-image: -webkit-gradient(linear,left top, left bottom,from(#ff55b8),to(#f60492));
background-image: -webkit-linear-gradient(top,#ff55b8,#f60492);
background-image: -moz-linear-gradient(top,#ff55b8,#f60492);
background-image: -o-linear-gradient(top,#ff55b8,#f60492);
background-image: linear-gradient(to bottom right, #ff55b8 0%, #f60492 100%);
transition: color 0.5s;font-weight: normal;font-size: 11px;-webkit-user-select: none;-moz-user-select: none; -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-o-border-radius: 5px;}
/*#avantages-shopping-cart .checkout-types button:hover{
background: #ff55b8\9;
background-image: -ms-linear-gradient(top left, #f60492 0%, #ff55b8 100%);
background-image: -webkit-gradient(linear,left top, left bottom,from(#f60492),to(#ff55b8));
background-image: -webkit-linear-gradient(top,#f60492,#ff55b8);
background-image: -moz-linear-gradient(top,#f60492,#ff55b8);
background-image: -o-linear-gradient(top,#f60492,#ff55b8);
background-image: linear-gradient(to bottom right, #f60492 0%, #ff55b8 100%);
}*/
/*#avantages-shopping-cart .checkout-types button, .checkout-types button {display: table !important; border-radius: 4px;  border: none !important;  cursor: pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;border: 1px solid #ff55b8;color: #fff!important;background-image: -webkit-gradient(linear,left top, left bottom,from(#ff55b8),to(#f60492));background-image: -webkit-linear-gradient(top,#ff55b8,#f60492);background-image: -moz-linear-gradient(top,#ff55b8,#f60492);background-image: -o-linear-gradient(top,#ff55b8,#f60492);background-image: linear-gradient(top,#ff55b8,#f60492);transition: color 0.5s;font-weight: normal;font-size: 11px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background: #f60492; -o-border-radius: 5px;}
#avantages-shopping-cart .checkout-types button:hover,.checkout-types button:hover{background: #ff55b8;background-image: -webkit-gradient(linear,left top, left bottom,from(#f60492),to(#ff55b8));background-image: -webkit-linear-gradient(top,#f60492,#ff55b8);background-image: -moz-linear-gradient(top,#f60492,#ff55b8);background-image: -o-linear-gradient(top,#f60492,#ff55b8);background-image: linear-gradient(top,#f60492,#ff55b8);}
#avantages-shopping-cart .checkout-types button span.left , .checkout-types button span.left{background-image: none !important; background-position: left center !important;}
#avantages-shopping-cart .checkout-types button span.right, .checkout-types button span.right {background-image: none!important; background-position: right center !important;}
#avantages-shopping-cart .checkout-types button span.left, .checkout-types button span.right, .checkout-types button span.left,.checkout-types button span.right {width: 4px !important; background-repeat: no-repeat !important; padding: 0px !important;}
#avantages-shopping-cart .checkout-types button span, .checkout-types button span {font-size: 17px !important;background-image: none; color: #fff !important; text-align: center !important; height:37px !important; padding: 0 20px; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important;}*/

#shopping-cart-table tbody > tr.last {display: none;}

#checkout-step-shipping_method .eas-content {
min-height: 250px!important;
}

#crediz-special-bg{background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/pastille-easyflyer-easycrediz.png) !important; background-position: 10px 10px !important; float:none !important; background-repeat: no-repeat !important; height:57px !important; padding: 10px 10px 0 !important;}
.crediz-explicit{width: 58%; float:right;}
.crediz-explicit > div {width: auto !important; margin: 0 !important;}
.crediz-cart .button-holder { padding: 0 5px 5px; }
.crediz-cart .shadow-separator { margin: 5px auto !important; }
.crediz-numb, .crediz-text{display: inline-block !important; float:none !important; color: #e23297; font-style: italic;}
#checkoutSteps {max-width: 623px !important;min-width: 600px;float: left !important;}
#checkoutSteps li{margin-top:0 !important;}
#checkoutSteps li.section{min-height:95px!important;}
.opc .step{max-width: 623px !important; min-width: 600px; float: left !important;}
#checkoutSteps #opc-login #checkout-step-login { max-width: 807px !important; float: none !important; margin: 0 auto !important;}
/* td.last {border-right:none !important;}
tr.last td {border: none !important;} */

#btn-update-cart-target{display: none !important;}
.cart .update-cart {float:none !important;margin:0 auto;}
.update-cart-box{text-align: center !important;}

#clean-crediz{width:17px !important; text-indent:-9999px; height:17px !important; line-height: 20px !important; /*margin: 4px 4px 0 0 !important;*/ margin: 0 10px 0 0!important;}
#clean-crediz span {background-size: 4px 20px !important; height: 20px !important; line-height: 20px !important;font-size: 18px; }
#clean-crediz .middle{padding: 0 12px !important;}

.crediz-panier-input-row{margin: 5px auto !important;}
.btn-remove2{
    background-image: url("/skin/frontend/default/default/images/assets/recycle-bin.png") !important;
    background-size: 16px auto;
}
div.price {font-size: 18px !important;}
/*#discount-coupon-code button {float:right;}*/
.opc .buttons-set { /*padding: 0 15px !important;*/ /*width: 953px !important;*/ width: 100% !important; text-align: center !important;}
.opc .buttons-set2{width: 953px !important;}
.product-content .shortdescription {max-width: 300px;}
.product-content {margin-left: 75px;}
.voiture-png-bg {display:none !important;}

.cart-totals td {font-size:14px;}
.cart-totals .grand-total .montant-text {font-size:14px;}
.cart-totals .grand-total .price {font-size:18px;}

.update-coupon {float: none !important;margin: 0px auto;margin-top: 10px;}
.update-coupon .left {background: url('/skin/frontend/default/default/images/easyflyer/checkout/cartpage/cross-gray.png') no-repeat scroll 0% 0% transparent !important;width: 16px !important;height: 16px !important;display: inline-block;}
.update-coupon span {background: none repeat scroll 0% 0% transparent !important;color: #6c6c6e !important;text-decoration: underline; line-height: 12px; padding: 0px !important;}
#billing-new-address-form  .cart-button-pink{
display: table !important;
/*border-radius: 4px;*/
border: none !important;
cursor: pointer !important;
text-align: center !important;
vertical-align: top !important;
height: 37px !important;
}
#output-div-orderfiles .cart-button-pink, #output-div-orderfiles .buttons-set .success-upload-btn{
position: relative!important;
margin: 0 auto;
clear: both;
display: block!important;
text-align: center!important;
right: 0;
}
#billing-new-address-form  .cart-button-pink span{height:auto!important; font-size:14px!important;}
/*
 * Buttons
 */
/* Pink */
.cart-button-pink {
position:absolute;
border-radius: 0px;
width:290px;
right:-280px;
 text-align:center;
border: none !important;
 cursor: pointer !important;
text-align: center !important;
vertical-align: middle !important;
height:37px !important;
border: 1px solid #ff55b8;
color: #ffffff!important;
background: #f60492;
display:block;
background-image: -webkit-gradient(linear,left top, left bottom,from(#f60492),to(#ff55b8));
background-image: -webkit-linear-gradient(top,#f60492,#ff55b8);
background-image: -moz-linear-gradient(top,#f60492,#ff55b8);
background-image: -o-linear-gradient(top,#f60492,#ff55b8);
background-image: -ms-linear-gradient(top left, #f60492 0%, #ff55b8 100%);
background-image: linear-gradient(to bottom right, #f60492 0%, #ff55b8 100%);
transition: color 0.5s;
font-weight: normal;
font-size: 11px;
/*-webkit-user-select: none;
-moz-user-select: none;
-moz-border-radius: 5px;-webkit-border-radius: 5px;
border-radius: 5px;*/
}
.cart-button-pink:hover{background: #ff55b8;background-image: -webkit-gradient(linear,left top, left bottom,from(#ff55b8),to(#f60492));background-image: -webkit-linear-gradient(top,#ff55b8,#f60492);background-image: -moz-linear-gradient(top,#ff55b8,#f60492);background-image: -o-linear-gradient(top,#ff55b8,#f60492);background-image: linear-gradient(top,#ff55b8,#f60492);}
.cart-button-pink .left { background-position: none !important}
.cart-button-pink .right { background-position: none !important;}
.cart-button-pink .left, .cart-button-pink .right {width: 4px !important; background-repeat: no-repeat !important; padding: 0px !important; min-width:4px;}
.cart-button-pink span {font-size: 18px !important;color: #fff !important; text-align: center !important;background: none !important; height:37px !important; padding: 0 20px; font-weight: bold !important; vertical-align: middle !important; line-height:37px;white-space: nowrap !important;}

/* Orange */
.cart-button-orange { /*display: table !important;*/ border-radius: 4px; border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; /*height:37px !important;*/}
.cart-button-orange .left {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-orange.png) !important; background-position: left center !important;}
.cart-button-orange .right {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-orange.png) !important; background-position: right center !important;}
.cart-button-orange .left, .cart-button-orange .right {width:4px !important; min-width:4px; background-repeat: no-repeat !important; padding: 0px !important; float:none !important;}
.cart-button-orange span{font-size: 1.3em;background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-orange.png); color:#fff !important; text-align: center !important; /*height:37px !important;*/ padding: 0 10px ; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; /*width:185px*/}
.cart-button-orange-codePromo{display: table !important; border-radius: 4px;border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;}
.cart-button-orange-codePromo span{font-size: 1.3em;background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-orange.png); color:#fff !important; text-align: center !important; height:37px !important;padding: 0 20px ;font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; width:185px;}

/* Gray */
.cart-button-gray {/*display: table !important;*/ border-radius: 4px; border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:100% !important;}
.cart-button-gray .left {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-gray.png) !important; background-position: left center !important;}
.cart-button-gray .right {background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-gray.png) !important; background-position: right center !important;}
.cart-button-gray .left, .cart-button-gray .right {width:3px !important; background-repeat: no-repeat !important; padding: 0px !important; float:none !important;}
.cart-button-gray span{font-size: 1.3em; background: #adadad !important;/*background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-gray.jpg);*/ color:#fff !important; text-align: center !important; height:37px !important; padding: 0 40px ; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; border-radius: 0px !important; width: 147px;}
.cart-button-gray2{border: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:37px !important;background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-gray.jpg);}
.cart-button-gray2 span{font-size: 1.3em;background: #adadad !important;color:#fff !important; text-align: center !important; height:37px !important;padding: 0 20px ;font-weight: bold !important;  vertical-align: middle !important; white-space: nowrap !important; width:185px;}

/* Dark Gray */
.cart-button-dark-gray {display: table !important; border-radius: 4px;  border: none !important; background: none !important; cursor:pointer !important; text-align: center !important; vertical-align: top !important; height:23px !important; width:auto !important;}
.cart-button-dark-gray .left { background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/left-button-dark-gray.png) !important; background-position: left center !important;}
.cart-button-dark-gray .right { background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/right-button-dark-gray.png) !important; background-position: right center !important;}
.cart-button-dark-gray .left, .cart-button-dark-gray .right { width:4px !important; background-repeat: no-repeat !important; padding: 0px !important; background-size: 4px 100% !important;}
.cart-button-dark-gray span {font-size: 1.3em; background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/button-dark-gray.jpg); color:#fff !important; text-align: center !important; height:23px !important; font-weight: bold !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; padding:0 7px; background-size: 1px 100%; line-height: auto !important;}

.cart-button-pink-special {height: 50px !important; display: table !important; border-radius: 4px; border:none !important; background: none repeat scroll 0% 0% #F10C81 !important; cursor: pointer !important; text-align: center !important; vertical-align: top !important; width: auto !important;}
.cart-button-pink-special > span {background: none !important; height:50px !important; padding: 5px 0 !important; font-size: 1.3em;}
.cart-button-pink-special span .small {font-size: 10px !important; color: #fff !important; text-align: center !important; display: table-cell !important; vertical-align: middle !important; white-space: nowrap !important; padding:0 7px; line-height: auto !important;}
.cart-button-pink-special .left { background:none !important; background-position: left center !important;}
.cart-button-pink-special .right { background:none !important; background-position: right center !important;}
.cart-button-pink-special .left, .cart-button-pink-special .right { width:4px !important; background-repeat: no-repeat !important; padding: 0px !important; background-size: 4px 100% !important;}
/*
 * Menu
 */

.cart-menu-list-puce{background-image:url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/menu-inactive.png);
	background-size: 41px;background-repeat: no-repeat;display: inline-block;width: 43px;height:56px;line-height: 50px;font-size: 2.5em;text-align: center;text-indent: 15px;color:#fff;margin-right: 5px;float:left;}
.cart-menu-list-text{font-size: 1.3em;color:#c5c5c5;max-width: 120px; display: inline-block;}
.cart-menu a:hover .cart-menu-list-puce, .cart-menu-list-puce.active, .cart-menu a.active .cart-menu-list-puce{background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/menu-active.png);
}
.cart-menu a:hover .cart-menu-list-text, .cart-menu a.active .cart-menu-list-text{color: #ea5b0c;}
.cart-menu a {text-decoration: none !important; display: block;}
.cart-menu li {float:left;margin-left: 10px;}
.cart-menu li:first-child{margin-left:0px;}
.cart-menu {margin-top:45px; margin-bottom: 25px;}
.eas-content, .eas-content-bottom-right, .eas-content-bottom-left {border: none !important;background:none !important;}
.cart-login-form-box > h3{text-align: center; height:35px;line-height:35px; color:#fff;}
.connexion-form > h3{background:#f59201;}
.register-form > h3{background: #f93faa;}
.register-form{border: 1px solid #E75AAB; height: 290px;}
.connexion-form {border: 1px solid #f59201; height: 290px;}
.register-form-content, .connexion-form-content{margin: 10px;}
.account-advantages{margin-left: 13px;}

.eas-content-border-left, .eas-content-border-right, .eas-content-border-top, .eas-content-border-bottom {background: none !important; border: none !important;}
.block-progress {margin: 0px 0 10px 0 !important;}

/*
 * Login
 */

.account-advantages li{color:#f93faa !important; list-style-type: disc;}
/*.connexion-form-content button.cart-button-orange span,.register-form-content button.cart-button-pink span {width: 60%;}*/
.connexion-form-content button.cart-button-orange, .register-form-content button.cart-button-pink {min-width: 50%;margin: 0 auto;}
#checkout-step-login .button-pink {width: 100%; margin-top: 15px; position: static; margin-left: 0;}
.forgot-password {color:#f59201 !important; font-style: italic !important; text-decoration: underline !important;}
p.required, .required em {color: #c1c1c1 !important;}
/*.connexion-form-content .form-list, .connexion-form-content input.input-text {width: 245px !important;}*/
/*
 * Sidebar
 */

#fake-sidebar-wrapper {float:right; max-width: 300px; width: auto; margin: 0 5px; min-width: 290px;}
#fake-sidebar-wrapper .fake-sidebar  h2 {background: url(http://adprint.mg/image/catalog/button-orange.png) right center !important; text-align: left; text-transform: uppercase; color: #fff; padding: 5px 15px; }
.addresses-information {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) right center !important;*/ max-height: 28px;color:#686868 !important; /*padding: 2px 25px;*/}
.billing-information label {float:none !important;}
.form-list .field{width: auto !important;}
.fake-sidebar h1, .fake-sidebar h2, .fake-sidebar h3 {margin:0px !important;}
/*
 * Payment
 */

.sp-methods-choose {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important;*/ /*text-transform: uppercase !important;*/ /*padding: 0px 10px !important;*/ height:28px !important; line-height: 28px !important; max-height: 28px !important; font-size: 18px !important;}
.sp-method-devis-wrapper h2 {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important;*/ /*text-transform: uppercase !important;*/ /*padding: 0px 10px !important;*/ height:28px !important; /*line-height: 28px !important;*/ max-height: 28px !important; font-size: 26px !important;}
.sp-methods-info {font-size: 15px !important; color: #000 !important; /*margin-top: 15px !important;*/ display: block !important; font-style: italic; width: 100% !important}
.sp-methods-info-sous-info{font-size: 14px !important; color: #575757 !important;font-style: italic;}
.sp-methods-info-sous-info label{font-weight: normal!important;}
.sp-method-devis {background: none !important; color:#e33096 !important; font-style: italic; padding-top: 0px !important; padding-bottom: 5px;}
.sp-methods-table {margin: 10px auto !important; width: 100% !important}
.sp-methods-table tr{border-color: rgba(0, 0, 0, .1);border-style: solid;border-width: 1px 0px 1px 0px;-webkit-background-clip: padding-box; /* for Safari */background-clip: padding-box;}
.sp-methods-table div input{display: inline-block;vertical-align: middle;    margin: 0px !important;}
.sp-methods-table div label{display: inline-block;vertical-align: middle;margin: 0px !important;color: #575757 !important;font-style: normal !important;width:95%;}
.sp-method-devis-info {/*padding: 15px 0px !important; border-top: 1px solid #dbdbdb;*/ margin: 0px !important;font-weight: normal !important;color: #2b2929 !important;font-size: 12px !important;font-style: italic; }
.sp-method-devis-wrapper .middle {/*background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/devis-wrapper.jpg) repeat-x top !important;*/ display: inline-block; /*height: 162px;*/ margin: 15px 0px;}
.sp-method-devis-wrapper .left {}
.sp-method-devis-wrapper .right {}
.sp-method-devis-wrapper .left, .sp-method-devis-wrapper .right {width: 4px !important; display: inline-block; height:162px !important;}
/*#checkout-payment-method-load .sp-methods-table label {color:#e33096 !important;}
#checkout-payment-method-load .sp-methods-table label span {color:#2b2929!important;}*/

.p_method_img{margin: 0px !important;display: inline-block;width: 70%;}
.p_method_title{font-weight: bold;font-size: 20px !important;padding: 0px !important;display: inline-block !important;color: #575757 !important;}
.p_method_label div{ display: inline-block;vertical-align: middle;}
.p_method_desc1{display: inline-block !important; padding-top: 5px;padding: 0px !important;}
.p_method_desc2{ color: #EC0090 !important;font-style: italic;margin-top: -6px;padding: 0px !important;display: block !important;}
.image{ width: 34%;text-align: center;}
#p_method_label{padding-left: 8px;display: inline; color: #EC0090 !important;font-style: italic !important;font-size: 16px !important;top: 0px!important;}
#conf-condi{width: 953px !important;padding: 10px 0px;}
#cq-logo{display: inline-block;float: left;vertical-align: middle;}
#cq-content{padding-left: 60px;}
#cq-label{ color: #EC0090 !important;font-style: italic !important;font-size: 16px !important;}
.ccleft{width: 49%;box-sizing: border-box;float:left;}
.ccleft h2{padding: 10px 0px;}
.ccleft button{display: block;margin: 0 auto;float: left;}
.ccright{ width: 51%;float:left;display: inline-block;box-sizing: border-box;}
.ccright label{ font-size: 13px!important;font-weight: normal;margin: 0px 0px 0px 50px !important;padding: 0px !important;vertical-align: text-top;}
.ccright label a{color:#EC0090;text-decoration: underline;}
.ccright img{display: block;margin: 0px auto !important;}
.ccright button{display: block; margin: 0 auto;width: 230px;}
.paiement-securise{ border-color: rgba(0, 0, 0, .1); border-style: solid;border-width: 1px 0px 0px 0px;-webkit-background-clip: padding-box; /* for Safari */background-clip: padding-box; width: 953px;padding: 15px 0px;}
#ps-sous-title{color: #EC0090;font-style: italic;font-weight: bold;font-size: 16px;padding-bottom: 14px;}
#ps-content{text-align: justify;font-size: 14px;}
#ps-b2b-pink{color: #EC0090;font-weight: bold;text-decoration: underline;}
#cg-popup{ background-color: white;
    border: 1px solid black;
    display: none;
    height: 60%;
    left: 25%;
    padding: 16px;
    position: fixed;
    top: 25%;
    width: 50%;
    z-index: 1002;}
#cg-title{margin-bottom: 30px;}
#cg-title a{float: right;}
#cg-content{ overflow: auto; height: 93%;}
#cg-title #left{width: 90%;box-sizing: border-box;float:left;}
#cg-title #right{width: 10%;float:left;display: inline-block;box-sizing: border-box;}
#cg-title #right a{float:right;padding-top: 5px;margin-right: 3px;}
#avantages-shopping-cart #left{width: 47%;box-sizing: border-box;float:left;margin: 0px 15px 0px 5px;}
#avantages-shopping-cart #right{width: 50%;float:left;display: inline-block;box-sizing: border-box;}
#avantages-shopping-cart button{text-align: center;}
#left table{width: 100% !important;border: 1px solid rgba(0,0,0,0.1);}
#left table tr{height: 71px;}
#left table tr:first-child{border-bottom: 1px solid rgba(0,0,0,0.1);}
#right .totals-subcart{ width: 100% !important;}
#total-checkout-button{margin: 12px auto 0px auto; display: table;}
.asc-title{font-size: 22px;color: #f59201;margin: 5px 8px;}
.easycrediz-content{ display: none;height: 100%;}
.asc-block {margin: 12px 23px;}
.text-pink{color: #EC0090;}
.reduc-title label{ margin-bottom: 0px !important;font-size: 15px; font-weight: bold;}
.reduc-checkbox{float:left;transform: scale(1.5);-webkit-transform: scale(1.5);margin-left: 15px; margin: 4px 0 0;}
.reduc-title{width: 90%;float: left;margin-left: 15px;}

/* EasyCreadiz */
#easycrediz-nbr{margin: 5px 0px;font-size: 15px;}
.easycrediz-pos{ margin-top: 2px;}
.easycrediz-pos label{ float:left;font-weight: normal;}
#easycrediz-choix1{margin-bottom: 10px;}
#easycrediz-choix1 input{margin-right: 5px;float: left;  }
#easycrediz-choix1 label:first-child{float: left;}
#easycrediz-choix1 label{margin-right: 5px;}
#easycrediz-number{ width: 70px;}
#easycrediz-choix2{ margin-bottom: 10px;}
#easycrediz-choix2 input{ margin-right: 5px;  float: left;}

/* Code promo */
#discount-coupon-label{float:left;}
#coupon_code{ float: left; margin: 0px 5px !important;}
.update-coupon {float: left !important;margin: 5px 0px 0px 0px!important;}
#discount-coupon-add button{ margin: 10px auto;font-size: 13px;}
.cart .cart-table thead th.t-head-first{width: 400px;}
#easycrediz-check1-cancel, #easycrediz-check2-cancel{margin-left: 8px !important;}
#button-continue-shopping{text-align: center; margin-top: 12px;}

.livraison{font-weight: bold;color: #575757;font-size: 20px;}
.livraison-gratuite{font-weight: bold;color:#EC0090;text-transform: uppercase;font-size: 20px;}
.buttons-block{width: 953px;}
.buttons-block-left, .buttons-block-right{width: 50%;float:left;display: inline-block;text-align: center;}
.buttons-block-left button{ width: 150px; margin-left: 175px !important;}
.buttons-block-right button{width: 210px;margin-right: 175px !important;}
.buttons-block-left-review, .buttons-block-right-review{width: 50%;float:left;display: inline-block;text-align: center;}
.buttons-block-left-review button{margin-left: 50px !important;width: 250px;}
.buttons-block-right-review button{margin-right: 50px !important;width: 250px;}
.t-head-last{min-width: initial !important;}

/*
 * Billing & shipping
 */

span.customer, span.address, span.address-additional-info { display: block;margin-left: 15px;}
#billing-new-address-form .input-box {clear: none !important; float:left !important; margin-left: 5px !important;}
#billing-new-address-form .fields label, #billing-new-address-form .wide label {line-height: 24px !important; text-align: right !important;}
#billing-new-address-form .fields .field label, #billing-new-address-form .wide > label {padding:0 5px !important;}
#billing-new-address-form input.input-text {width: auto !important;}
#billing-new-address-form label.required em {position: static !important;}
#billing-new-address-form td.first {display: inline-block !important;}
#billing-new-address-form label {min-width: 70px; display: inline-block;}
#billing-new-address-form label.fill {float: none !important; margin-left: 6px;}
#billing-new-address-form li.left {width: 265px;}
#billing-new-address-form fieldset {padding: 10px !important;}
#billing-new-address-form select {max-width: 150px !important;}
#billing-new-address-form .address-input {width: 170px !important; line-height: 18px;}
#billing-new-address-form .address-input:empty{font-style: italic;}
#billing-new-address-form tr.name-firstname td.first {width: auto !important;}
#billing-new-address-form .left input.input-text {width: 170px !important;}

#shipping-new-address-form .input-box {clear: none !important; float:left !important; margin-left: 5px !important;}
#shipping-new-address-form .fields label, #shipping-new-address-form .wide label {line-height: 24px !important; text-align: right !important;}
#shipping-new-address-form .fields .field label, #shipping-new-address-form .wide > label {padding:0 5px !important;}
#shipping-new-address-form input.input-text {width: auto !important;}
#shipping-new-address-form label.required em {position: static !important;}
#shipping-new-address-form td.first {display: inline-block !important;}
#shipping-new-address-form label {min-width: 70px; display: block; float:left; }
#shipping-new-address-form label span{display:block; font-size:14px!important;}
#shipping-new-address-form label.fill {float: none !important; margin-left: 6px;}
#shipping-new-address-form li.left {width: 265px;}
#shipping-new-address-form fieldset {padding: 10px !important;}
#shipping-new-address-form select {max-width: 150px !important;}
#shipping-new-address-form .address-input {width: 170px !important; line-height: 18px;}
#shipping-new-address-form .address-input:empty{font-style: italic;}
#shipping-new-address-form tr.name-firstname td.first {width: auto !important;}
#shipping-new-address-form .left input.input-text {width: 170px !important;}

.primary-address, .secondary-address {cursor:pointer; width: 250px;  padding:10px 5px;display: block; float:none !important; margin-bottom: 15px;}
.primary-address{border: 1px solid #bdbdbd; }
.primary-address-radio, .secondary-address-radio {float: left;}
.primary-address-content, .secondary-address-content {margin-left: 20px;}
.primary-address-content {color:#f5a52b;}
.customer {text-transform: uppercase;}
.primary-address-content > p {margin:0px !important;}

.adresse-radio-label {margin-bottom: 15px !important;}
.adresse-radio-label input[type=radio] {float:left !important;margin-right: 15px !important;}
.adresse-radio-label label {color: #f5a52b !important;cursor: pointer !important;text-transform: uppercase !important;}
/**
 * Shipping method
 */

#checkout-step-shipping_method .sp-methods dt, #checkout-step-shipping_method .sp-methods label  { color :#575757 !important; font-weight: initial;}
#checkout-step-shipping_method .eas-ship-left, #checkout-step-shipping_method .eas-ship-right { background: none !important;}
#checkout-step-shipping_method .sp-methods {padding: 0px !important;}
.sp-methods label span{/*color: #EC0090;*/}
.sp-methods-delay{font-style: italic;color: #575757;}

/**
 * Review
 */

#checkout-review-table{background: none !important;}
#checkout-review-table thead {background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important; color :#ababab !important;}
#checkout-review-table th.first, #checkout-review-table th.last {background: none !important;}
#checkout-review-table td.first {border-left: none !important;}
#checkout-review-table td.last {border-right: none !important;}
#checkout-review-table tr.first {border-top: none !important;}
#checkout-review-table tr.last {border-bottom: none !important;}
#checkout-review-table tr.even, #checkout-review-table tr.odd {background: none !important;}
#checkout-review-table tfoot td {background:none !important; color:#000 !important;border: none !important;}
#checkout-review-table .voiture-png-bg {border: none !important;}
#checkout-review-table td.last {border-right: none !important;}
#checkout-step-review .quote-address-review {clear:both;margin: 15px auto;}
#checkout-step-review .quote-address-review-wrapper {padding: 10px;}
#checkout-step-review .quote-address-review-wrapper.quote-address-billing{float:left;}
#checkout-step-review .quote-address-review-wrapper.quote-address-shipping{float:right;}
#checkout-step-review .quote-address-review {margin-bottom: 15px;}
#checkout-step-review .quote-address-review-wrapper > div {padding:0 15px;}
#checkout-step-review .quote-address-review p {margin:0 !important;}

/**
 * Success
 */
#output-div-orderfiles .green-dark{color:#27ae14;}
#output-div-orderfiles .success-order{text-align: center;padding:10px;margin-bottom: 15px}
#output-div-orderfiles .boutton2{margin:0;line-height: 30px}
#output-div-orderfiles .boutton2-sm{margin-top:5px;}
#output-div-orderfiles .bg-green{background-color: #e4ffe0}
#output-div-orderfiles .entry-title.success-table-title {padding:5px;background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg); background-repeat: repeat-x; color :#ababab !important;}
#output-div-orderfiles .success-page .mesaj-succes {background: none !important; padding-left: 0px !important;}
#output-div-orderfiles .order-other-info table th {font-weight: bold;}
#fake-sidebar-wrapper #order_user_comments_val {width:100% !important; max-width: 100% !important; margin-bottom: 30px;}
#fake-sidebar-wrapper #order_subject_val {width:100%;}
#fake-sidebar-wrapper .order-other-info-submit {margin: 0 auto;}
#output-div-orderfiles .header-files-transfer .subwrapper-files-transfer > img {float: left;margin:0 30px;}
#output-div-orderfiles .subwrapper-files-transfer { padding: 15px;}
#output-div-orderfiles .files-transfer {border:1px solid #ececef; border-radius: 5px; background-image: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg); background-repeat:repeat-x; background-size: 100% 100%; }
#output-div-orderfiles .success-page .mesaj-succes {color: #000 !important;}
#output-div-orderfiles {margin-top: 0px !important; }
#output-div-orderfiles .order-well-recieved {color:#6b6b6b !important;margin-top:30px;}
#plupload #droparea {background: #fff;}
#output-div-orderfiles .files-transfer {margin-bottom: 30px;}
#output-div-orderfiles .subwrapper-files-transfer .consignes-techniques {text-decoration: underline;}
#output-div-orderfiles .entry-title {color:#000;}


.checkout-onepage-success .col-main {float:none !important;}
/**
 * Helper
 */
.pink {color: #EC0090 !important;}
.capitalize {text-transform: uppercase !important;}
.italic {font-style: italic !important;}
.font-size-12 {font-size:12px !important;}
.font-size-14 {font-size:14px !important;}
.font-size-15 {font-size:15px !important;}
.font-size-16 {font-size:16px !important;}
.font-size-18 {font-size:18px !important;}
.bold {font-weight: bold !important;}
.regular {font-weight: normal !important; color: #6b6b6b !important;}
.page-title{width:auto !important;}
.shadow-separator {display: block;max-width:90%;padding: 5px;margin: 0 auto;text-align: center;width: auto;background-repeat: no-repeat;background-position: center center;}
.shadow-grey {background-image:url("/skin/frontend/default/default/images/easyflyer/orderfiles/shadow-separator.jpg");}
.shadow-pink {background-image:url("/skin/frontend/default/default/images/easyflyer/orderfiles/shadow-separator-pink.png");}
// .entry-title {text-transform: uppercase; color: #ABABAB !important;border: 1px solid #ECECEF;border-radius: 3px !important;background: url(/skin/frontend/default/default/images/easyflyer/checkout/cartpage/table-head-cart.jpg) repeat-x top !important; text-transform: uppercase !important; padding: 0px 10px !important; height:28px !important; line-height: 28px !important; max-height: 28px !important; font-size: 18px !important;}
.entry-title {/*text-transform: uppercase;*/color:#575757;font-size:24px !important}
.opc .step {padding:0 20px !important;}
.opc .step fieldset {padding:0 !important;}


.shadow-grey {
background-image: url("/skin/frontend/default/default/images/easyflyer/orderfiles/shadow-separator.jpg");
}
.shadow-separator {
display: block;
padding: 5px;
margin: 15px auto !important;
text-align: center;
width: auto;
background-repeat: no-repeat;
background-position: center center;
}
.payment-page .header{height: 90px; line-height: 90px; width: 953px; position: relative; margin: 0 auto;}
/*.payment-page #checkout-progress-wrapper{vertical-align: middle; display: inline-block;margin: 0px 10px 0px 0 !important;height:56px;}*/
.payment-page #button_online,.payment-page #button_offline{display:none;}
.payment-page .header-container{height:auto; line-height:100px;}
.payment-page .header-container .logo{margin:0px!important;}
.footcart li a{color:#707070!important;text-decoration: none;font-size: 18px;text-transform: uppercase;text-align: left;display: block;}
.footcart li a:hover{text-decoration:underline!important;}
.footcart .footcontent li span{ color:#acacac;font-size:12px; padding-left:47px;display:block;text-align: left!important; }
.footcart .footcontent li span.smally{font-size:11px; display:block;color:#acacac;}
.footcart .footcontent{background-color:#fafafa; float:left;width:100%;padding:20px 0px 10px 0px;}
.footcart .footleft li a{line-height:37px; height:37px; text-decoration:none;font-size: 18px;text-transform: uppercase;text-align: left;display: block;}
.footcart .footleft li a img{vertical-align:middle;display:inline-block;}
.footcart .footright li  a, .footcart .footright li{ font-size:16px; }
.footcart .footright li  a{height:46px;}
.footcart .footright li  a img, .footcart .footright li img{float:left; vertical-align:middle; margin: 10px 10px 0 0px;}
.footcart .footright li a{line-height:49px; }
.footcart .footright strong{font-size:22px;color:#707070;text-align:left!important;display:block;}
.footcart  .contfoot{background: none!important;width: 925px!important;height: auto !important;padding: 0px 15px 0px 13px!important;}
.footcart .footleft{width:340px!important; min-height:200px;float:left; margin-left:90px ;}
.footcart .footright{width: 360px!important;min-height: 200px;float: right;margin-right: 70px;}

.payment-page .col-main{padding-top:10px; min-height:600px;}
.footcart .botfoot{width: 953px!important;
margin-top: 10px!important;
padding-top: 15px!important;
border-top: 1px solid #eaeaea!important;
background: none!important;}

/*Equivalent BOOTSTRAP*/

input, button, select, textarea{
    line-height: inherit;
}

table{
    border-collapse: collapse !important;
}

fieldset{
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}


ul.deuxColumn{width:45%;padding:5px;float:left}
ul.troisColumn li{width:31.33333333%;padding:5px;float:left}
ul.quatreColumn li{width:23%;padding:5px;float:left}
ul.deuxColumn li h3{font-size:22px!important;font-weight:700!important}
ul.troisColumn li h3{font-size:20px!important;font-weight:700!important}
ul.quatreColumn li h3{font-size:19px!important;font-weight:700!important}
ul.deuxColumn li p,ul.troisColumn li p,ul.quatreColumn li p{margin-bottom:3px 0;width:100%!important;word-break:break-all}
ul.troisColumn,ul.deuxColumn,ul.quatreColumn{display:table}
ul.troisColumn li,ul.deuxColumn li,ul.quatreColumn li{position:relative;display:inline-table;vertical-align:top}
ul.troisColumn img,ul.deuxColumn img,ul.quatreColumn img{margin:0 auto;display:block}
ul.blue h3,ul.blue h2,ul.blue h4{color:#18b4ea}
ul.pink h3,ul.pink h2,ul.pink h4{color:#ec008c}
ul.red h3,ul.red h2,ul.red h4{color:#D03E3E}
ul.yellow h3,ul.yellow h2,ul.yellow h4{color:#f5951c}
li.border-left{border-right:1px solid #c8c8c8}
li.border-bottom{border-bottom:1px solid #c8c8c8}
.paragraphe{margin:10px 0!important;padding:0 5px;}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center!important}
.text-justify{text-align:justify!important;}
.boutton{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;-ms-box-sizing: content-box; -o-box-sizing: content-box;box-sizing: content-box;padding:3px 25px;font-size:14px;color:#fff;text-decoration:none;height:20px;text-align:center;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-o-border-radius:5px;line-height:30px;line-height:20px;margin:2px 5px;display:inline-block;margin-bottom:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;vertical-align:middle;font-weight:700;border:1px solid transparent;font-family:"Trebuchet MS"!important;cursor:pointer}
.boutton:focus,.boutton:active:focus,.boutton.active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.boutton:active,.boutton.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.boutton-pink{background:#da208b url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#da208b;background:#da208b;background-image:-webkit-gradient(linear,left top,left bottom,from(#eb40a2),to(#da208b));background-image:-webkit-linear-gradient(top,#eb40a2,#da208b);background-image:-moz-linear-gradient(top,#eb40a2,#da208b);background-image:-o-linear-gradient(top,#eb40a2,#da208b);background-image:linear-gradient(top,#eb40a2,#da208b);color:#fff!important;transition:color .5s}
.boutton-pink:hover,.boutton-pink:focus,.boutton-pink:active,.boutton-pink.active{background:#da208b url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#eb40a2;background:#eb40a2;background-image:-webkit-gradient(linear,left top,left bottom,from(#da208b),to(#eb40a2));background-image:-webkit-linear-gradient(top,#da208b,#eb40a2);background-image:-moz-linear-gradient(top,#da208b,#eb40a2);background-image:-o-linear-gradient(top,#da208b,#eb40a2);background-image:linear-gradient(top,#da208b,#eb40a2)}
.boutton-black{background:#3a3a3a url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#3a3a3a;background:#3a3a3a;background-image:-webkit-gradient(linear,left top,left bottom,from(#3a3a3a),to(#080808));background-image:-webkit-linear-gradient(top,#3a3a3a,#080808);background-image:-moz-linear-gradient(top,#3a3a3a,#080808);background-image:-o-linear-gradient(top,#3a3a3a,#080808);background-image:linear-gradient(top,#3a3a3a,#080808);color:#fff!important;transition:color .5s}
.boutton-black:hover,.boutton-black:focus,.boutton-black:active,.boutton-black.active{background:#080808 url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#080808;background:#080808;background-image:-webkit-gradient(linear,left top,left bottom,from(#080808),to(#3a3a3a));background-image:-webkit-linear-gradient(top,#080808,#3a3a3a);background-image:-moz-linear-gradient(top,#080808,#3a3a3a);background-image:-o-linear-gradient(top,#080808,#3a3a3a);background-image:linear-gradient(top,#080808,#3a3a3a);transition:color .5s}
.boutton-yellow{border:1px solid #f39302;color:#fff!important;background:#f5a832;background-image:-webkit-gradient(linear,left top,left bottom,from(#f5a832),to(#f39302));background-image:-webkit-linear-gradient(top,#f5a832,#f39302);background-image:-moz-linear-gradient(top,#f5a832,#f39302);background-image:-o-linear-gradient(top,#f5a832,#f39302);background-image:linear-gradient(top,#f5a832,#f39302);transition:color .5s;font-weight:400;font-size:11px}
.boutton-yellow:hover,.boutton-yellow:focus,.boutton-yellow:active,.boutton-yellow.active{background:#f39302;background-image:-webkit-gradient(linear,left top,left bottom,from(#f39302),to(#f5a832));background-image:-webkit-linear-gradient(top,#f39302,#f5a832);background-image:-moz-linear-gradient(top,#f39302,#f5a832);background-image:-o-linear-gradient(top,#f39302,#f5a832);background-image:linear-gradient(top,#f39302,#f5a832);transition:color .5s}
.boutton-white{border:1px solid #bbb4b0;color:#f20091!important;background:#fff;transition:color .5s}
.boutton-white:hover,.boutton-white:focus,.boutton-white:active,.boutton-white.active{color:#000!important;transition:color .5s}
.boutton-grey{border:1px solid #d6d6d6;color:#696969!important;background:#e4e4e4;background-image:-webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#e4e4e4));background-image:-webkit-linear-gradient(top,#fefefe,#e4e4e4);background-image:-moz-linear-gradient(top,#fefefe,#e4e4e4);background-image:-o-linear-gradient(top,#fefefe,#e4e4e4);background-image:linear-gradient(top,#fefefe,#e4e4e4);transition:color .5s;font-weight:400;font-size:11px}
.boutton-grey:hover,.boutton-grey:focus,.boutton-grey:active,.boutton-grey.active{background:#fefefe;background-image:-webkit-gradient(linear,left top,left bottom,from(#e4e4e4),to(#fefefe));background-image:-webkit-linear-gradient(top,#e4e4e4,#fefefe);background-image:-moz-linear-gradient(top,#e4e4e4,#fefefe);background-image:-o-linear-gradient(top,#e4e4e4,#fefefe);background-image:linear-gradient(top,#e4e4e4,#fefefe);transition:color .5s}
.boutton-blue{border:1px solid #18b4ea;color:#fff!important;background:#27c1f7;background-image:-webkit-gradient(linear,left top,left bottom,from(#27c1f7),to(#18b4ea));background-image:-webkit-linear-gradient(top,#27c1f7,#18b4ea);background-image:-moz-linear-gradient(top,#27c1f7,#18b4ea);background-image:-o-linear-gradient(top,#27c1f7,#18b4ea);background-image:linear-gradient(top,#27c1f7,#18b4ea);transition:color .5s;font-weight:400;font-size:11px}
.boutton-blue:hover,.boutton-blue:focus,.boutton-blue:active,.boutton-blue.active{background:#27c1f7;background-image:-webkit-gradient(linear,left top,left bottom,from(#18b4ea),to(#27c1f7));background-image:-webkit-linear-gradient(top,#18b4ea,#27c1f7);background-image:-moz-linear-gradient(top,#18b4ea,#27c1f7);background-image:-o-linear-gradient(top,#18b4ea,#27c1f7);background-image:linear-gradient(top,#18b4ea,#27c1f7);transition:color .5s}
.boutton-light-grey{border:1px solid #ccc;color:#fff!important;background:#ccc;transition:color .5s;font-weight:400;font-size:11px}
.boutton-light-grey :hover{text-decoration:underline}
.panel{width:100%;}
.panel-header{
    height: 25px;
    padding-left: 15px;
    vertical-align: middle;
    border-top: 1px solid #E8E8E8;
    font-size: 18px;
        padding: 15px 0;
    font-size: 22px;
}

.grid2{width:39%}
.inlinebreak{display:block}
.border-grey{width:93%;margin:0 auto;position:relative;border:1px solid #ededed;box-shadow:0 0 3px 5px #ededed;-moz-box-shadow:0 0 3px 5px #ededed;-webkit-box-shadow:0 0 3px 5px #ededed}
.normal{font-weight:400}
.bold{font-weight:700}
.italic{font-size:italic}
.black{color:#000}
.light-grey{color:#6c6c6e}
.huge{font-size:60px}
.paddtop25{padding:25px 0 0}
.formwhite .validateico{float:left;margin:5px 3px;background:url(../images/easyflyer/imprimerie-en-ligne-form-validate-icon.png);background-repeat:no-repeat;height:23px;width:23px;line-height:23px}
.formwhite .validateico.neutre{background-position:0 0}
.formwhite .validateico.true{background-position:-23px 0}
.formwhite .validateico.false{background-position:-46px 0}
.formwhite label{color:#fff;margin-right:5px;font-size:14px}
.formwhite input{width:209px;height:32px;line-height:39px;padding:0 5px}
.formwhite .input-box{clear:both;margin:20px 0}
.formwhite textarea{padding:5px;margin:10px auto}
.invite-check-not-ok{clear:both;color:#d9534f;display:block;text-align:center}
.fancyline span:before,.fancyline span:after{content:"";position:absolute;height:5px;border-bottom:1px solid #e6e6e6;top:0;width:300px}
.fancyline{line-height:.5;text-align:center}
.fancyline span{display:inline-block;position:relative}
.fancyline span:before{right:100%;margin-right:15px}
.fancyline span:after{left:100%;margin-left:15px}
.light-grey{color:#6c6c6e!important}
.boutton-center{display:table; margin:0 auto;}
.orange{color:#f5a52b !important;}
.boutton2{float: none;background: none;cursor: pointer;/*border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;*/ border: 0px solid #000000;height: 100%;margin: 17px auto 5px auto;text-align: center;padding: 7px 30px;display: inline-block;white-space: nowrap;vertical-align: top;color: #FFF;font-weight: bold;text-decoration:none;font-size: 18px;line-height:20px;}
.boutton2-sm{
    height:20px;
    line-height: 20px!important;
}
.boutton2-min-text{
    font-weight:normal;
    font-size: 100%;
}
.boutton2-pink{background: #e7008b;}
.boutton2-pink:hover,.boutton2-pink:focus, .boutton2-pink:active{background: #E75AAB;}
.boutton2-gray{background: #c3c3c3;}
.boutton2-gray:hover,.boutton2-gray:focus, .boutton2-gray:active{background: #adadad;}
.boutton2-green{background: #22d021;}
.boutton2-green:hover,.boutton2-green:focus, .boutton2-green:active{background: #37aa37;}
.boutton2-red{background: #fe1e1e;}
.boutton2-red:hover,.boutton2-red:focus, .boutton2-red:active{background: #cd0000;}
.boutton2-orange{background:#f5a52b;}

.boutton2-bleu{background: #27c1f7;}
.boutton2-bleu:hover,.boutton2-bleu:focus, .boutton2-bleu:active{background: #1c91bc;}
.bloc-center{display: table; margin: 0 auto!important;}
.font-very-small {font-size: 11px!important;}
.grey-classique{color:#6c6c6e;}
/**MARGE**/
.fat-marge{margin:10px 7px;}
.fat-marge-first{margin:10px 5px 10px 0px;}
.fat-marge-last{margin:10px 0px 10px 5px;}

/**/
#checkout-progress-wrapper {
    margin : 15px 0px;
    display: none;
}
.checkout-onepage-index #checkout-progress-wrapper {
    display : inline-block;
    position: absolute;
    float: right;
    right: -123px;
}
.block-content {
    margin : 0 auto;
}
.cart .block-content {
    width : 90%;
}
.block-progress {
    margin : 0;
}
.block-progress .step {
    text-align: left;
    width : 20%;
    height: 56px;
    position : relative;
    border : none;
    padding : 0;
    margin : 0;
}
.checkout-onepage-index .step {
    /*width : 25%;*/
}
.block-progress .numbers {
    position : absolute;
    width : 42px;
    height : 56px;
    background : url('http://localhost/adprint_2.3.0.2/upload/catalog/view/theme/default/image/menu-sprites.png') no-repeat -43px 0px;
    color:#fff;
    line-height: 50px;
    font-size: 2.5em;
    text-align: center;
    text-indent: 15px;
}
.block-progress .active .numbers {
    background-position: 0px 0px ;
}
.block-progress .active .content {
     color:#ea5b0c;
}
.block-progress .content {
    margin : 0 0 0 42px;
    padding: 0 0 0 5px;
    font-size: 1em;
    color:#c5c5c5;
    width : auto;
    display: block;
}
.block-progress .step {
    background: none !important;
    float:left;
}
