ul.deuxColumn{width:45%;padding:5px;float:left}
ul.troisColumn li{width:31.33333333%;padding:5px;float:left}
ul.quatreColumn li{width:23%;padding:5px;float:left}
ul.deuxColumn li h3{font-size:22px!important;font-weight:700!important}
ul.troisColumn li h3{font-size:20px!important;font-weight:700!important}
ul.quatreColumn li h3{font-size:19px!important;font-weight:700!important}
ul.deuxColumn li p,ul.troisColumn li p,ul.quatreColumn li p{margin-bottom:3px 0;width:100%!important;word-break:break-all}
ul.troisColumn,ul.deuxColumn,ul.quatreColumn{display:table}
ul.troisColumn li,ul.deuxColumn li,ul.quatreColumn li{position:relative;display:inline-table;vertical-align:top}
ul.troisColumn img,ul.deuxColumn img,ul.quatreColumn img{margin:0 auto;display:block}
ul.blue h3,ul.blue h2,ul.blue h4{color:#18b4ea}
ul.pink h3,ul.pink h2,ul.pink h4{color:#ec008c}
ul.red h3,ul.red h2,ul.red h4{color:#D03E3E}
ul.yellow h3,ul.yellow h2,ul.yellow h4{color:#f5951c}
li.border-left{border-right:1px solid #c8c8c8}
li.border-bottom{border-bottom:1px solid #c8c8c8}
.paragraphe{margin:10px 0!important;padding:0 5px;}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center!important}
.text-justify{text-align:justify!important;}
.boutton{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;-ms-box-sizing: content-box; -o-box-sizing: content-box;box-sizing: content-box;padding:3px 25px;font-size:14px;color:#fff;text-decoration:none;height:20px;text-align:center;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-o-border-radius:5px;line-height:30px;line-height:20px;margin:2px 5px;display:inline-block;margin-bottom:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;vertical-align:middle;font-weight:700;border:1px solid transparent;font-family:"Trebuchet MS"!important;cursor:pointer}
.boutton:focus,.boutton:active:focus,.boutton.active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.boutton:active,.boutton.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.boutton-pink{background:#da208b url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#da208b;background:#da208b;background-image:-webkit-gradient(linear,left top,left bottom,from(#eb40a2),to(#da208b));background-image:-webkit-linear-gradient(top,#eb40a2,#da208b);background-image:-moz-linear-gradient(top,#eb40a2,#da208b);background-image:-o-linear-gradient(top,#eb40a2,#da208b);background-image:linear-gradient(top,#eb40a2,#da208b);color:#fff!important;transition:color .5s}
.boutton-pink:hover,.boutton-pink:focus,.boutton-pink:active,.boutton-pink.active{background:#da208b url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#eb40a2;background:#eb40a2;background-image:-webkit-gradient(linear,left top,left bottom,from(#da208b),to(#eb40a2));background-image:-webkit-linear-gradient(top,#da208b,#eb40a2);background-image:-moz-linear-gradient(top,#da208b,#eb40a2);background-image:-o-linear-gradient(top,#da208b,#eb40a2);background-image:linear-gradient(top,#da208b,#eb40a2)}
.boutton-black{background:#3a3a3a url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#3a3a3a;background:#3a3a3a;background-image:-webkit-gradient(linear,left top,left bottom,from(#3a3a3a),to(#080808));background-image:-webkit-linear-gradient(top,#3a3a3a,#080808);background-image:-moz-linear-gradient(top,#3a3a3a,#080808);background-image:-o-linear-gradient(top,#3a3a3a,#080808);background-image:linear-gradient(top,#3a3a3a,#080808);color:#fff!important;transition:color .5s}
.boutton-black:hover,.boutton-black:focus,.boutton-black:active,.boutton-black.active{background:#080808 url(gradient-bg-btn-send-file.png) repeat-x top;-o-background-size:100% 100%;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;*background:#080808;background:#080808;background-image:-webkit-gradient(linear,left top,left bottom,from(#080808),to(#3a3a3a));background-image:-webkit-linear-gradient(top,#080808,#3a3a3a);background-image:-moz-linear-gradient(top,#080808,#3a3a3a);background-image:-o-linear-gradient(top,#080808,#3a3a3a);background-image:linear-gradient(top,#080808,#3a3a3a);transition:color .5s}
.boutton-yellow{border:1px solid #f39302;color:#fff!important;background:#f5a832;background-image:-webkit-gradient(linear,left top,left bottom,from(#f5a832),to(#f39302));background-image:-webkit-linear-gradient(top,#f5a832,#f39302);background-image:-moz-linear-gradient(top,#f5a832,#f39302);background-image:-o-linear-gradient(top,#f5a832,#f39302);background-image:linear-gradient(top,#f5a832,#f39302);transition:color .5s;font-weight:400;font-size:11px}
.boutton-yellow:hover,.boutton-yellow:focus,.boutton-yellow:active,.boutton-yellow.active{background:#f39302;background-image:-webkit-gradient(linear,left top,left bottom,from(#f39302),to(#f5a832));background-image:-webkit-linear-gradient(top,#f39302,#f5a832);background-image:-moz-linear-gradient(top,#f39302,#f5a832);background-image:-o-linear-gradient(top,#f39302,#f5a832);background-image:linear-gradient(top,#f39302,#f5a832);transition:color .5s}
.boutton-white{border:1px solid #bbb4b0;color:#f20091!important;background:#fff;transition:color .5s}
.boutton-white:hover,.boutton-white:focus,.boutton-white:active,.boutton-white.active{color:#000!important;transition:color .5s}
.boutton-grey{border:1px solid #d6d6d6;color:#696969!important;background:#e4e4e4;background-image:-webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#e4e4e4));background-image:-webkit-linear-gradient(top,#fefefe,#e4e4e4);background-image:-moz-linear-gradient(top,#fefefe,#e4e4e4);background-image:-o-linear-gradient(top,#fefefe,#e4e4e4);background-image:linear-gradient(top,#fefefe,#e4e4e4);transition:color .5s;font-weight:400;font-size:11px}
.boutton-grey:hover,.boutton-grey:focus,.boutton-grey:active,.boutton-grey.active{background:#fefefe;background-image:-webkit-gradient(linear,left top,left bottom,from(#e4e4e4),to(#fefefe));background-image:-webkit-linear-gradient(top,#e4e4e4,#fefefe);background-image:-moz-linear-gradient(top,#e4e4e4,#fefefe);background-image:-o-linear-gradient(top,#e4e4e4,#fefefe);background-image:linear-gradient(top,#e4e4e4,#fefefe);transition:color .5s}
.boutton-blue{border:1px solid #18b4ea;color:#fff!important;background:#27c1f7;background-image:-webkit-gradient(linear,left top,left bottom,from(#27c1f7),to(#18b4ea));background-image:-webkit-linear-gradient(top,#27c1f7,#18b4ea);background-image:-moz-linear-gradient(top,#27c1f7,#18b4ea);background-image:-o-linear-gradient(top,#27c1f7,#18b4ea);background-image:linear-gradient(top,#27c1f7,#18b4ea);transition:color .5s;font-weight:400;font-size:11px}
.boutton-blue:hover,.boutton-blue:focus,.boutton-blue:active,.boutton-blue.active{background:#27c1f7;background-image:-webkit-gradient(linear,left top,left bottom,from(#18b4ea),to(#27c1f7));background-image:-webkit-linear-gradient(top,#18b4ea,#27c1f7);background-image:-moz-linear-gradient(top,#18b4ea,#27c1f7);background-image:-o-linear-gradient(top,#18b4ea,#27c1f7);background-image:linear-gradient(top,#18b4ea,#27c1f7);transition:color .5s}
.boutton-light-grey{border:1px solid #ccc;color:#fff!important;background:#ccc;transition:color .5s;font-weight:400;font-size:11px}
.boutton-light-grey :hover{text-decoration:underline}
.panel{width:100%;}
.panel-header{
    height: 25px;
    padding-left: 15px;
    vertical-align: middle;
    border-top: 1px solid #E8E8E8;
    font-size: 18px;
        padding: 15px 0;
    font-size: 22px;
}

.grid2{width:39%}
.inlinebreak{display:block}
.border-grey{width:93%;margin:0 auto;position:relative;border:1px solid #ededed;box-shadow:0 0 3px 5px #ededed;-moz-box-shadow:0 0 3px 5px #ededed;-webkit-box-shadow:0 0 3px 5px #ededed}
.normal{font-weight:400}
.bold{font-weight:700}
.italic{font-size:italic}
.black{color:#000}
.light-grey{color:#6c6c6e}
.huge{font-size:60px}
.paddtop25{padding:25px 0 0}
.formwhite .validateico{float:left;margin:5px 3px;background:url(../images/easyflyer/imprimerie-en-ligne-form-validate-icon.png);background-repeat:no-repeat;height:23px;width:23px;line-height:23px}
.formwhite .validateico.neutre{background-position:0 0}
.formwhite .validateico.true{background-position:-23px 0}
.formwhite .validateico.false{background-position:-46px 0}
.formwhite label{color:#fff;margin-right:5px;font-size:14px}
.formwhite input{width:209px;height:32px;line-height:39px;padding:0 5px}
.formwhite .input-box{clear:both;margin:20px 0}
.formwhite textarea{padding:5px;margin:10px auto}
.invite-check-not-ok{clear:both;color:#d9534f;display:block;text-align:center}
.fancyline span:before,.fancyline span:after{content:"";position:absolute;height:5px;border-bottom:1px solid #e6e6e6;top:0;width:300px}
.fancyline{line-height:.5;text-align:center}
.fancyline span{display:inline-block;position:relative}
.fancyline span:before{right:100%;margin-right:15px}
.fancyline span:after{left:100%;margin-left:15px}
.light-grey{color:#6c6c6e!important}
.boutton-center{display:table; margin:0 auto;}
.orange{color:#f5a52b !important;}
.boutton2{float: none;background: none;cursor: pointer;/*border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;*/ border: 0px solid #000000;height: 100%;margin: 17px auto 5px auto;text-align: center;padding: 7px 30px;display: inline-block;white-space: nowrap;vertical-align: top;color: #FFF;font-weight: bold;text-decoration:none;font-size: 18px;line-height:20px;}
.boutton2-sm{
    height:20px;
    line-height: 20px!important;
}
.boutton2-min-text{
    font-weight:normal;
    font-size: 100%;
}
.boutton2-pink{background: #e7008b;}
.boutton2-pink:hover,.boutton2-pink:focus, .boutton2-pink:active{background: #E75AAB;}
.boutton2-gray{background: #c3c3c3;}
.boutton2-gray:hover,.boutton2-gray:focus, .boutton2-gray:active{background: #adadad;}
.boutton2-green{background: #22d021;}
.boutton2-green:hover,.boutton2-green:focus, .boutton2-green:active{background: #37aa37;}
.boutton2-red{background: #fe1e1e;}
.boutton2-red:hover,.boutton2-red:focus, .boutton2-red:active{background: #cd0000;}
.boutton2-orange{background:#f5a52b;}

.boutton2-bleu{background: #27c1f7;}
.boutton2-bleu:hover,.boutton2-bleu:focus, .boutton2-bleu:active{background: #1c91bc;}
.bloc-center{display: table; margin: 0 auto!important;}
.font-very-small {font-size: 11px!important;}
.grey-classique{color:#6c6c6e;}
/**MARGE**/
.fat-marge{margin:10px 7px;}
.fat-marge-first{margin:10px 5px 10px 0px;}
.fat-marge-last{margin:10px 0px 10px 5px;}