//* Dropdown Button */
.dropbtn{
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    left: -260px;
    min-width: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border:1px solid black;
    z-index: 1000;
}

/* Links inside the dropdown */
/*.dropdown-content a {
    color: rgb(240,51,179);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 0.5px solid rgb(234,234,234);
}*/

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  
    border:1px solid black;
    cursor: pointer;
}

#menu1{

}
#menu2 a{
  color: black;
}

/*#ident{
  font-size: 1.4em;
  min-height: 15px;
  background-color:rgb(240,51,179); 
  margin: 0 auto;
  width: 250px;
}*/

.iv{
  color: white;
}
/*#fb{
  font-size: 1em;
  min-height: 15px;
  background-color:rgb(69,100,161); 
  color: red;
  margin: 0 auto;
  width: 250px;
}*/
#menu3 a{
  border-bottom: white;
}
.infoMenu{
  color: rgb(145,145,145);
  font-size: 0.8em;
}
button{
  position: relative;
  border: 1px solid black;
  border:none;
}
button img{
  position: relative;
  left: -5.6px;
  width: 82px;
}
/*#panierTotal{
  position: absolute;
  left:49px;
  top: 2px;
  font-size: 1.5em;
  color: white;
  margin: 0;
  padding: 0;
}*/